<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coracle.dms.dao.mybatis.DmsChannelInformationMapper" >
  <resultMap id="DmsChannelInformationResultMap" type="com.coracle.dms.po.DmsChannelInformation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="pic_id" property="picId" jdbcType="BIGINT" />
    <result column="publish_user_id" property="publishUserId" jdbcType="BIGINT" />
    <result column="is_comment" property="isComment" jdbcType="INTEGER" />
    <result column="is_publish" property="isPublish" jdbcType="INTEGER" />
    <result column="publish_date" property="publishDate" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="click_count" property="clickCount" jdbcType="BIGINT" />
    <result column="comment_count" property="commentCount" jdbcType="BIGINT" />
    <result column="forward_count" property="forwardCount" jdbcType="BIGINT" />
    <result column="is_show" property="isShow" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="BIGINT" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="last_updated_date" property="lastUpdatedDate" jdbcType="TIMESTAMP" />
    <result column="remove_flag" property="removeFlag" jdbcType="INTEGER" />
    <result column="is_can_forward" property="isCanForward" jdbcType="INTEGER" />
  </resultMap>
  <sql id="DmsChannelInformation_Column_List" >
    id, title, type, pic_id, publish_user_id, is_comment, is_publish, publish_date, content,
    click_count, comment_count, forward_count, is_show, created_by, last_updated_by,
    created_date, last_updated_date, remove_flag, is_can_forward
  </sql>
  <select id="selectByPrimaryKey" resultMap="DmsChannelInformationResultMap" parameterType="java.lang.Long" >
    select
    <include refid="DmsChannelInformation_Column_List" />
    from dms_channel_information
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dms_channel_information
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.coracle.dms.po.DmsChannelInformation" useGeneratedKeys="true" keyProperty="id" >
    insert into dms_channel_information (title, type, pic_id, publish_user_id, is_comment, is_publish,
    publish_date, content, click_count, comment_count, forward_count, is_show,
    created_by, last_updated_by, created_date, last_updated_date, remove_flag,
    is_can_forward)
    values (#{title}, #{type}, #{picId}, #{publishUserId}, #{isComment}, #{isPublish},
    #{publishDate}, #{content}, #{clickCount}, #{commentCount}, #{forwardCount}, #{isShow},
    #{createdBy}, #{lastUpdatedBy}, #{createdDate}, #{lastUpdatedDate}, #{removeFlag},
    #{isCanForward})
  </insert>
  <insert id="insertSelective" parameterType="com.coracle.dms.po.DmsChannelInformation" >
    insert into dms_channel_information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="picId != null" >
        pic_id,
      </if>
      <if test="publishUserId != null" >
        publish_user_id,
      </if>
      <if test="isComment != null" >
        is_comment,
      </if>
      <if test="isPublish != null" >
        is_publish,
      </if>
      <if test="publishDate != null" >
        publish_date,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="clickCount != null" >
        click_count,
      </if>
      <if test="commentCount != null" >
        comment_count,
      </if>
      <if test="forwardCount != null" >
        forward_count,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date,
      </if>
      <if test="removeFlag != null" >
        remove_flag,
      </if>
      <if test="isCanForward != null" >
        is_can_forward,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="title != null" >
        #{title},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="picId != null" >
        #{picId},
      </if>
      <if test="publishUserId != null" >
        #{publishUserId},
      </if>
      <if test="isComment != null" >
        #{isComment},
      </if>
      <if test="isPublish != null" >
        #{isPublish},
      </if>
      <if test="publishDate != null" >
        #{publishDate},
      </if>
      <if test="content != null" >
        #{content},
      </if>
      <if test="clickCount != null" >
        #{clickCount},
      </if>
      <if test="commentCount != null" >
        #{commentCount},
      </if>
      <if test="forwardCount != null" >
        #{forwardCount},
      </if>
      <if test="isShow != null" >
        #{isShow},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy},
      </if>
      <if test="createdDate != null" >
        #{createdDate},
      </if>
      <if test="lastUpdatedDate != null" >
        #{lastUpdatedDate},
      </if>
      <if test="removeFlag != null" >
        #{removeFlag},
      </if>
      <if test="isCanForward != null" >
        #{isCanForward},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coracle.dms.po.DmsChannelInformation" >
    update dms_channel_information
    <set >
      <if test="title != null" >
        title = #{title},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="picId != null" >
        pic_id = #{picId},
      </if>
      <if test="publishUserId != null" >
        publish_user_id = #{publishUserId},
      </if>
      <if test="isComment != null" >
        is_comment = #{isComment},
      </if>
      <if test="isPublish != null" >
        is_publish = #{isPublish},
      </if>
      <if test="publishDate != null" >
        publish_date = #{publishDate},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
      <if test="clickCount != null" >
        click_count = #{clickCount},
      </if>
      <if test="commentCount != null" >
        comment_count = #{commentCount},
      </if>
      <if test="forwardCount != null" >
        forward_count = #{forwardCount},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate},
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date = #{lastUpdatedDate},
      </if>
      <if test="removeFlag != null" >
        remove_flag = #{removeFlag},
      </if>
      <if test="isCanForward != null" >
        is_can_forward = #{isCanForward},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coracle.dms.po.DmsChannelInformation" >
    update dms_channel_information
    set title = #{title},
    type = #{type},
    pic_id = #{picId},
    publish_user_id = #{publishUserId},
    is_comment = #{isComment},
    is_publish = #{isPublish},
    publish_date = #{publishDate},
    content = #{content},
    click_count = #{clickCount},
    comment_count = #{commentCount},
    forward_count = #{forwardCount},
    is_show = #{isShow},
    created_by = #{createdBy},
    last_updated_by = #{lastUpdatedBy},
    created_date = #{createdDate},
    last_updated_date = #{lastUpdatedDate},
    remove_flag = #{removeFlag},
    is_can_forward = #{isCanForward}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      <if test="title != null and title != ''" >
        title = #{title}
      </if>
      <if test="type != null and type != ''" >
        AND type = #{type}
      </if>
      <if test="picId != null" >
        AND pic_id = #{picId}
      </if>
      <if test="publishUserId != null" >
        AND publish_user_id = #{publishUserId}
      </if>
      <if test="isComment != null" >
        AND is_comment = #{isComment}
      </if>
      <if test="isPublish != null" >
        AND is_publish = #{isPublish}
      </if>
      <if test="publishDate != null" >
        AND publish_date = #{publishDate}
      </if>
      <if test="content != null and content != ''" >
        AND content = #{content}
      </if>
      <if test="clickCount != null" >
        AND click_count = #{clickCount}
      </if>
      <if test="commentCount != null" >
        AND comment_count = #{commentCount}
      </if>
      <if test="forwardCount != null" >
        AND forward_count = #{forwardCount}
      </if>
      <if test="isShow != null" >
        AND is_show = #{isShow}
      </if>
      <if test="createdBy != null" >
        AND created_by = #{createdBy}
      </if>
      <if test="lastUpdatedBy != null" >
        AND last_updated_by = #{lastUpdatedBy}
      </if>
      <if test="createdDate != null" >
        AND created_date = #{createdDate}
      </if>
      <if test="lastUpdatedDate != null" >
        AND last_updated_date = #{lastUpdatedDate}
      </if>
      <if test="removeFlag != null" >
        AND remove_flag = #{removeFlag}
      </if>
      <if test="isCanForward != null" >
        AND is_can_forward = #{isCanForward}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.coracle.dms.po.DmsChannelInformation" resultMap="DmsChannelInformationResultMap" >
    select
    <include refid="DmsChannelInformation_Column_List" />
    from dms_channel_information
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
        ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update dms_channel_information
    <set >
      <if test="po.title != null" >
        title = #{po.title},
      </if>
      <if test="po.type != null" >
        type = #{po.type},
      </if>
      <if test="po.picId != null" >
        pic_id = #{po.picId},
      </if>
      <if test="po.publishUserId != null" >
        publish_user_id = #{po.publishUserId},
      </if>
      <if test="po.isComment != null" >
        is_comment = #{po.isComment},
      </if>
      <if test="po.isPublish != null" >
        is_publish = #{po.isPublish},
      </if>
      <if test="po.publishDate != null" >
        publish_date = #{po.publishDate},
      </if>
      <if test="po.content != null" >
        content = #{po.content},
      </if>
      <if test="po.clickCount != null" >
        click_count = #{po.clickCount},
      </if>
      <if test="po.commentCount != null" >
        comment_count = #{po.commentCount},
      </if>
      <if test="po.forwardCount != null" >
        forward_count = #{po.forwardCount},
      </if>
      <if test="po.isShow != null" >
        is_show = #{po.isShow},
      </if>
      <if test="po.createdBy != null" >
        created_by = #{po.createdBy},
      </if>
      <if test="po.lastUpdatedBy != null" >
        last_updated_by = #{po.lastUpdatedBy},
      </if>
      <if test="po.createdDate != null" >
        created_date = #{po.createdDate},
      </if>
      <if test="po.lastUpdatedDate != null" >
        last_updated_date = #{po.lastUpdatedDate},
      </if>
      <if test="po.removeFlag != null" >
        remove_flag = #{po.removeFlag},
      </if>
      <if test="po.isCanForward != null" >
        is_can_forward = #{po.isCanForward},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>

  <!--**************************************************-->
  <resultMap id="DmsChannelInformationVoResultMap" type="com.coracle.dms.vo.DmsChannelInformationVo" extends="DmsChannelInformationResultMap">
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="staff_id" property="staffId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="type_text" property="typeText" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="file_compress_path" property="fileCompressPath" jdbcType="VARCHAR" />
    <result column="file_preview_path" property="filePreviewPath" jdbcType="VARCHAR" />
    <collection column="id" property="rangeList" select="getRangeIds" />
  </resultMap>
  <!--分页查询通知，管理查询-->
  <select id="selectPageByCondition" parameterType="com.coracle.dms.vo.DmsChannelInformationVo" resultMap="DmsChannelInformationVoResultMap" >
    select
    dci.id, dci.title, dci.type, dci.pic_id, dci.publish_user_id, dci.is_comment,
    dci.is_publish, dci.publish_date, dci.content, dci.click_count, dci.comment_count, dci.forward_count, dci.is_show,
    dci.created_by, dci.last_updated_by, dci.created_date, dci.last_updated_date, dci.remove_flag, dci.is_can_forward,du.source,du.staff_id,
    case du.source
    when 1 then (select de.name from dms_employee de where de.id = du.staff_id limit 0,1)
    when 2 then (select dcc.name from dms_channel_contacts dcc where dcc.id = du.staff_id limit 0,1)
    when 3 then (select ds.name from dms_seller ds where du.staff_id=ds.id limit 0,1)
    end as user_name,
    (select d2.`name` from dms_data_dictionary d1 left join dms_data_dictionary_dependent d2 on d1.id=d2.dictionary_id
    where d2.remove_flag=0 and d1.remove_flag=0 and d1.s_key='channel_information' and d2.s_key=dci.type limit 0,1) as type_text,
    (select t3.file_path from dms_common_attach_file t3 where t3.id = dci.pic_id) as file_path,
    (select t3.file_compress_path from dms_common_attach_file t3 where t3.id = dci.pic_id) as file_compress_path,
    (select t3.file_preview_path from dms_common_attach_file t3 where t3.id = dci.pic_id) as file_preview_path
    FROM  dms_channel_information dci left join dms_user du on dci.publish_user_id = du.id
    where dci.remove_flag = 0

    <if test="title != null and title != ''" >
      and dci.title  like CONCAT('%',#{title},'%')
    </if>
    <if test="type != null and type != ''" >
      AND dci.type = #{type}
    </if>
    <if test="publishUserId != null" >
      AND dci.publish_user_id = #{publishUserId}
    </if>
    <if test="isComment != null" >
      AND dci.is_comment = #{isComment}
    </if>
    <if test="isPublish != null" >
      AND dci.is_publish = #{isPublish}
    </if>
    <if test="startDate != null and startDate!=''" >
      AND dci.publish_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate!=''" >
      AND dci.publish_date &lt;= #{endDate}
    </if>
    <if test="content != null and content != ''" >
      AND dci.content  like CONCAT('%',#{content},'%')
    </if>
    <if test="clickCount != null" >
      AND dci.click_count = #{clickCount}
    </if>
    <if test="commentCount != null" >
      AND dci.comment_count = #{commentCount}
    </if>
    <if test="forwardCount != null" >
      AND dci.forward_count = #{forwardCount}
    </if>
    <if test="isShow != null" >
      AND dci.is_show = #{isShow}
    </if>
    <if test="createdBy != null" >
      AND dci.created_by = #{createdBy}
    </if>
    <if test="lastUpdatedBy != null" >
      AND dci.last_updated_by = #{lastUpdatedBy}
    </if>
    <if test="createdDate != null" >
      AND dci.created_date = #{createdDate}
    </if>
    <if test="lastUpdatedDate != null" >
      AND dci.last_updated_date = #{lastUpdatedDate}
    </if>
    <if test="isCanForward != null" >
      AND dci.is_can_forward = #{isCanForward}
    </if>
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
        ${orderString}
      </if>
    </if>
  </select>

  <update id="modifyComentCount">
    UPDATE  dms_channel_information SET  comment_count=comment_count-#{count}
    where 1=2
    <if test="ids != null and ids.size &gt; 0">
      <foreach close=")" collection="ids" item="listItem" open="or id in(" separator=",">
        #{listItem}
      </foreach>
    </if>
  </update>
  
  <select id="getRangeIds" parameterType="java.lang.Long" resultType="java.lang.Long">
    select publish_range_id from dms_publish_range where related_type=3 and related_id=#{id}
  </select>

  <select id="selectVoByPrimaryKey" resultMap="DmsChannelInformationVoResultMap" parameterType="java.lang.Long" >
    select
    dci.id, dci.title, dci.type, dci.pic_id, dci.publish_user_id, dci.is_comment,
    dci.is_publish, dci.publish_date, dci.content, dci.click_count, dci.comment_count, dci.forward_count, dci.is_show,
    dci.created_by, dci.last_updated_by, dci.created_date, dci.last_updated_date, dci.remove_flag, dci.is_can_forward,du.source,du.staff_id,
    case du.source
        when 1 then (select de.name from dms_employee de where de.id = du.staff_id limit 0,1)
        when 2 then (select dcc.name from dms_channel_contacts dcc where dcc.id = du.staff_id limit 0,1)
        when 3 then (select ds.name from dms_seller ds where du.staff_id=ds.id limit 0,1)
    end as user_name,
    (select t3.file_path from dms_common_attach_file t3 where t3.id = dci.pic_id) as file_path
    FROM  dms_channel_information dci left join dms_user du on dci.publish_user_id = du.id
    WHERE dci.id=#{id}
  </select>

  <!--根据自己所属范围查询渠道赋能资讯-->
  <select id="getChannelInforsList" resultMap="DmsChannelInformationVoResultMap">
    SELECT
    dci.id, dci.title, dci.type, dci.pic_id, dci.publish_user_id, dci.is_comment, dci.is_publish, dci.publish_date,
    dci.content, dci.click_count, dci.comment_count, dci.forward_count, dci.is_show, dci.created_by, dci.last_updated_by,
    dci.created_date, dci.last_updated_date, dci.remove_flag, dci.is_can_forward,
    (select t3.file_path from dms_common_attach_file t3 where t3.id = dci.pic_id) as file_path,
    (select t3.file_compress_path from dms_common_attach_file t3 where t3.id = dci.pic_id) as file_compress_path,
    (select t3.file_preview_path from dms_common_attach_file t3 where t3.id = dci.pic_id) as file_preview_path
    FROM dms_channel_information dci left join `dms_publish_range` dpr on dci.id=dpr.related_id
    where dci.is_publish =1 and dpr.related_type=3 and dpr.publish_range_id=#{id}
    <if test="type != null and type !=''" >
      AND dci.type = #{type}
    </if>
    <if test="title != null and title !=''" >
      AND dci.title like CONCAT('%',#{title},'%')
    </if>
    order by dci.publish_date desc
  </select>
</mapper>