<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coracle.dms.dao.mybatis.DmsDynamicMapper" >
  <resultMap id="DmsDynamicResultMap" type="com.coracle.dms.po.DmsDynamic" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="shipping_unit" property="shippingUnit" jdbcType="BIGINT" />
    <result column="send_date" property="sendDate" jdbcType="TIMESTAMP" />
    <result column="sell_order" property="sellOrder" jdbcType="VARCHAR" />
    <result column="send_type" property="sendType" jdbcType="VARCHAR" />
    <result column="logistics_com" property="logisticsCom" jdbcType="VARCHAR" />
    <result column="logistics_no" property="logisticsNo" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="BIGINT" />
    <result column="last_updated_date" property="lastUpdatedDate" jdbcType="TIMESTAMP" />
    <result column="remove_flag" property="removeFlag" jdbcType="INTEGER" />
    <result column="expand1" property="expand1" jdbcType="VARCHAR" />
    <result column="expand2" property="expand2" jdbcType="VARCHAR" />
    <result column="expand3" property="expand3" jdbcType="VARCHAR" />
    <result column="expand4" property="expand4" jdbcType="VARCHAR" />
    <result column="expand5" property="expand5" jdbcType="VARCHAR" />
    <result column="expand6" property="expand6" jdbcType="VARCHAR" />
    <result column="expand7" property="expand7" jdbcType="VARCHAR" />
    <result column="expand8" property="expand8" jdbcType="VARCHAR" />
    <result column="expand9" property="expand9" jdbcType="VARCHAR" />
    <result column="expand10" property="expand10" jdbcType="VARCHAR" />
    <result column="expand11" property="expand11" jdbcType="VARCHAR" />
    <result column="expand12" property="expand12" jdbcType="VARCHAR" />
    <result column="expand13" property="expand13" jdbcType="VARCHAR" />
    <result column="expand14" property="expand14" jdbcType="VARCHAR" />
    <result column="expand15" property="expand15" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="DmsDynamic_Column_List" >
    id, customer_id, shipping_unit, send_date, sell_order, send_type, logistics_com,
    logistics_no, remark, created_by, created_date, last_updated_by, last_updated_date,
    remove_flag, expand1, expand2, expand3, expand4, expand5, expand6, expand7, expand8,
    expand9, expand10, expand11, expand12, expand13, expand14, expand15
  </sql>
  <select id="selectByPrimaryKey" resultMap="DmsDynamicResultMap" parameterType="java.lang.Long" >
    select
    <include refid="DmsDynamic_Column_List" />
    from dms_dynamic
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dms_dynamic
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.coracle.dms.po.DmsDynamic" useGeneratedKeys="true" keyProperty="id" >
    insert into dms_dynamic (customer_id, shipping_unit, send_date, sell_order, send_type, logistics_com,
    logistics_no, remark, created_by, created_date, last_updated_by, last_updated_date,
    remove_flag, expand1, expand2, expand3, expand4, expand5, expand6,
    expand7, expand8, expand9, expand10, expand11, expand12, expand13,
    expand14, expand15)
    values (#{customerId}, #{shippingUnit}, #{sendDate}, #{sellOrder}, #{sendType}, #{logisticsCom},
    #{logisticsNo}, #{remark}, #{createdBy}, #{createdDate}, #{lastUpdatedBy}, #{lastUpdatedDate},
    #{removeFlag}, #{expand1}, #{expand2}, #{expand3}, #{expand4}, #{expand5}, #{expand6},
    #{expand7}, #{expand8}, #{expand9}, #{expand10}, #{expand11}, #{expand12}, #{expand13},
    #{expand14}, #{expand15})
  </insert>
  <insert id="insertSelective" parameterType="com.coracle.dms.po.DmsDynamic" >
    insert into dms_dynamic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="shippingUnit != null" >
        shipping_unit,
      </if>
      <if test="sendDate != null" >
        send_date,
      </if>
      <if test="sellOrder != null" >
        sell_order,
      </if>
      <if test="sendType != null" >
        send_type,
      </if>
      <if test="logisticsCom != null" >
        logistics_com,
      </if>
      <if test="logisticsNo != null" >
        logistics_no,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date,
      </if>
      <if test="removeFlag != null" >
        remove_flag,
      </if>
      <if test="expand1 != null" >
        expand1,
      </if>
      <if test="expand2 != null" >
        expand2,
      </if>
      <if test="expand3 != null" >
        expand3,
      </if>
      <if test="expand4 != null" >
        expand4,
      </if>
      <if test="expand5 != null" >
        expand5,
      </if>
      <if test="expand6 != null" >
        expand6,
      </if>
      <if test="expand7 != null" >
        expand7,
      </if>
      <if test="expand8 != null" >
        expand8,
      </if>
      <if test="expand9 != null" >
        expand9,
      </if>
      <if test="expand10 != null" >
        expand10,
      </if>
      <if test="expand11 != null" >
        expand11,
      </if>
      <if test="expand12 != null" >
        expand12,
      </if>
      <if test="expand13 != null" >
        expand13,
      </if>
      <if test="expand14 != null" >
        expand14,
      </if>
      <if test="expand15 != null" >
        expand15,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="customerId != null" >
        #{customerId},
      </if>
      <if test="shippingUnit != null" >
        #{shippingUnit},
      </if>
      <if test="sendDate != null" >
        #{sendDate},
      </if>
      <if test="sellOrder != null" >
        #{sellOrder},
      </if>
      <if test="sendType != null" >
        #{sendType},
      </if>
      <if test="logisticsCom != null" >
        #{logisticsCom},
      </if>
      <if test="logisticsNo != null" >
        #{logisticsNo},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="createdDate != null" >
        #{createdDate},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy},
      </if>
      <if test="lastUpdatedDate != null" >
        #{lastUpdatedDate},
      </if>
      <if test="removeFlag != null" >
        #{removeFlag},
      </if>
      <if test="expand1 != null" >
        #{expand1},
      </if>
      <if test="expand2 != null" >
        #{expand2},
      </if>
      <if test="expand3 != null" >
        #{expand3},
      </if>
      <if test="expand4 != null" >
        #{expand4},
      </if>
      <if test="expand5 != null" >
        #{expand5},
      </if>
      <if test="expand6 != null" >
        #{expand6},
      </if>
      <if test="expand7 != null" >
        #{expand7},
      </if>
      <if test="expand8 != null" >
        #{expand8},
      </if>
      <if test="expand9 != null" >
        #{expand9},
      </if>
      <if test="expand10 != null" >
        #{expand10},
      </if>
      <if test="expand11 != null" >
        #{expand11},
      </if>
      <if test="expand12 != null" >
        #{expand12},
      </if>
      <if test="expand13 != null" >
        #{expand13},
      </if>
      <if test="expand14 != null" >
        #{expand14},
      </if>
      <if test="expand15 != null" >
        #{expand15},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coracle.dms.po.DmsDynamic" >
    update dms_dynamic
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId},
      </if>
      <if test="shippingUnit != null" >
        shipping_unit = #{shippingUnit},
      </if>
      <if test="sendDate != null" >
        send_date = #{sendDate},
      </if>
      <if test="sellOrder != null" >
        sell_order = #{sellOrder},
      </if>
      <if test="sendType != null" >
        send_type = #{sendType},
      </if>
      <if test="logisticsCom != null" >
        logistics_com = #{logisticsCom},
      </if>
      <if test="logisticsNo != null" >
        logistics_no = #{logisticsNo},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy},
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date = #{lastUpdatedDate},
      </if>
      <if test="removeFlag != null" >
        remove_flag = #{removeFlag},
      </if>
      <if test="expand1 != null" >
        expand1 = #{expand1},
      </if>
      <if test="expand2 != null" >
        expand2 = #{expand2},
      </if>
      <if test="expand3 != null" >
        expand3 = #{expand3},
      </if>
      <if test="expand4 != null" >
        expand4 = #{expand4},
      </if>
      <if test="expand5 != null" >
        expand5 = #{expand5},
      </if>
      <if test="expand6 != null" >
        expand6 = #{expand6},
      </if>
      <if test="expand7 != null" >
        expand7 = #{expand7},
      </if>
      <if test="expand8 != null" >
        expand8 = #{expand8},
      </if>
      <if test="expand9 != null" >
        expand9 = #{expand9},
      </if>
      <if test="expand10 != null" >
        expand10 = #{expand10},
      </if>
      <if test="expand11 != null" >
        expand11 = #{expand11},
      </if>
      <if test="expand12 != null" >
        expand12 = #{expand12},
      </if>
      <if test="expand13 != null" >
        expand13 = #{expand13},
      </if>
      <if test="expand14 != null" >
        expand14 = #{expand14},
      </if>
      <if test="expand15 != null" >
        expand15 = #{expand15},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coracle.dms.po.DmsDynamic" >
    update dms_dynamic
    set customer_id = #{customerId},
    shipping_unit = #{shippingUnit},
    send_date = #{sendDate},
    sell_order = #{sellOrder},
    send_type = #{sendType},
    logistics_com = #{logisticsCom},
    logistics_no = #{logisticsNo},
    remark = #{remark},
    created_by = #{createdBy},
    created_date = #{createdDate},
    last_updated_by = #{lastUpdatedBy},
    last_updated_date = #{lastUpdatedDate},
    remove_flag = #{removeFlag},
    expand1 = #{expand1},
    expand2 = #{expand2},
    expand3 = #{expand3},
    expand4 = #{expand4},
    expand5 = #{expand5},
    expand6 = #{expand6},
    expand7 = #{expand7},
    expand8 = #{expand8},
    expand9 = #{expand9},
    expand10 = #{expand10},
    expand11 = #{expand11},
    expand12 = #{expand12},
    expand13 = #{expand13},
    expand14 = #{expand14},
    expand15 = #{expand15}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      <if test="customerId != null" >
        customer_id = #{customerId}
      </if>
      <if test="shippingUnit != null and shippingUnit != ''" >
        AND shipping_unit = #{shippingUnit}
      </if>
      <if test="sendDate != null" >
        AND send_date = #{sendDate}
      </if>
      <if test="sellOrder != null and sellOrder != ''" >
        AND sell_order = #{sellOrder}
      </if>
      <if test="sendType != null" >
        AND send_type = #{sendType}
      </if>
      <if test="logisticsCom != null" >
        AND logistics_com = #{logisticsCom}
      </if>
      <if test="logisticsNo != null and logisticsNo != ''" >
        AND logistics_no = #{logisticsNo}
      </if>
      <if test="remark != null and remark != ''" >
        AND remark = #{remark}
      </if>
      <if test="createdBy != null" >
        AND created_by = #{createdBy}
      </if>
      <if test="createdDate != null" >
        AND created_date = #{createdDate}
      </if>
      <if test="lastUpdatedBy != null" >
        AND last_updated_by = #{lastUpdatedBy}
      </if>
      <if test="lastUpdatedDate != null" >
        AND last_updated_date = #{lastUpdatedDate}
      </if>
      <if test="removeFlag != null" >
        AND remove_flag = #{removeFlag}
      </if>
      <if test="expand1 != null and expand1 != ''" >
        AND expand1 = #{expand1}
      </if>
      <if test="expand2 != null and expand2 != ''" >
        AND expand2 = #{expand2}
      </if>
      <if test="expand3 != null and expand3 != ''" >
        AND expand3 = #{expand3}
      </if>
      <if test="expand4 != null and expand4 != ''" >
        AND expand4 = #{expand4}
      </if>
      <if test="expand5 != null and expand5 != ''" >
        AND expand5 = #{expand5}
      </if>
      <if test="expand6 != null and expand6 != ''" >
        AND expand6 = #{expand6}
      </if>
      <if test="expand7 != null and expand7 != ''" >
        AND expand7 = #{expand7}
      </if>
      <if test="expand8 != null and expand8 != ''" >
        AND expand8 = #{expand8}
      </if>
      <if test="expand9 != null and expand9 != ''" >
        AND expand9 = #{expand9}
      </if>
      <if test="expand10 != null and expand10 != ''" >
        AND expand10 = #{expand10}
      </if>
      <if test="expand11 != null and expand11 != ''" >
        AND expand11 = #{expand11}
      </if>
      <if test="expand12 != null and expand12 != ''" >
        AND expand12 = #{expand12}
      </if>
      <if test="expand13 != null and expand13 != ''" >
        AND expand13 = #{expand13}
      </if>
      <if test="expand14 != null and expand14 != ''" >
        AND expand14 = #{expand14}
      </if>
      <if test="expand15 != null and expand15 != ''" >
        AND expand15 = #{expand15}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.coracle.dms.po.DmsDynamic" resultMap="DmsDynamicResultMap" >
    select
    <include refid="DmsDynamic_Column_List" />
    from dms_dynamic
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
        ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update dms_dynamic
    <set >
      <if test="po.customerId != null" >
        customer_id = #{po.customerId},
      </if>
      <if test="po.shippingUnit != null" >
        shipping_unit = #{po.shippingUnit},
      </if>
      <if test="po.sendDate != null" >
        send_date = #{po.sendDate},
      </if>
      <if test="po.sellOrder != null" >
        sell_order = #{po.sellOrder},
      </if>
      <if test="po.sendType != null" >
        send_type = #{po.sendType},
      </if>
      <if test="po.logisticsCom != null" >
        logistics_com = #{po.logisticsCom},
      </if>
      <if test="po.logisticsNo != null" >
        logistics_no = #{po.logisticsNo},
      </if>
      <if test="po.remark != null" >
        remark = #{po.remark},
      </if>
      <if test="po.createdBy != null" >
        created_by = #{po.createdBy},
      </if>
      <if test="po.createdDate != null" >
        created_date = #{po.createdDate},
      </if>
      <if test="po.lastUpdatedBy != null" >
        last_updated_by = #{po.lastUpdatedBy},
      </if>
      <if test="po.lastUpdatedDate != null" >
        last_updated_date = #{po.lastUpdatedDate},
      </if>
      <if test="po.removeFlag != null" >
        remove_flag = #{po.removeFlag},
      </if>
      <if test="po.expand1 != null" >
        expand1 = #{po.expand1},
      </if>
      <if test="po.expand2 != null" >
        expand2 = #{po.expand2},
      </if>
      <if test="po.expand3 != null" >
        expand3 = #{po.expand3},
      </if>
      <if test="po.expand4 != null" >
        expand4 = #{po.expand4},
      </if>
      <if test="po.expand5 != null" >
        expand5 = #{po.expand5},
      </if>
      <if test="po.expand6 != null" >
        expand6 = #{po.expand6},
      </if>
      <if test="po.expand7 != null" >
        expand7 = #{po.expand7},
      </if>
      <if test="po.expand8 != null" >
        expand8 = #{po.expand8},
      </if>
      <if test="po.expand9 != null" >
        expand9 = #{po.expand9},
      </if>
      <if test="po.expand10 != null" >
        expand10 = #{po.expand10},
      </if>
      <if test="po.expand11 != null" >
        expand11 = #{po.expand11},
      </if>
      <if test="po.expand12 != null" >
        expand12 = #{po.expand12},
      </if>
      <if test="po.expand13 != null" >
        expand13 = #{po.expand13},
      </if>
      <if test="po.expand14 != null" >
        expand14 = #{po.expand14},
      </if>
      <if test="po.expand15 != null" >
        expand15 = #{po.expand15},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>

  <!--**********************************************-->
  <resultMap extends="DmsDynamicResultMap" id="DmsDynamicVoResultMap" type="com.coracle.dms.vo.DmsDynamicVo" >
    <result column="send_type_text" property="sendTypeText" jdbcType="VARCHAR" />
    <collection column="id" property="dmsDynamicMapList" select="getDmsDynamicMapList" />
  </resultMap>
  <select id="getPageList" resultMap="DmsDynamicVoResultMap" parameterType="com.coracle.dms.vo.DmsCustomersVo">
    select
    <include refid="DmsDynamic_Column_List" />,
    (select d2.`name` from dms_data_dictionary d1 left join dms_data_dictionary_dependent d2 on d1.id=d2.dictionary_id
    where d2.remove_flag=0 and d1.remove_flag=0 and d1.s_key='deliver_type' and d2.s_key=dd.send_type limit 0,1) as send_type_text
    from dms_dynamic dd
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
        ${orderString}
      </if>
    </if>
  </select>
  <select id="getDmsDynamicMapList" parameterType="java.lang.Long" resultType="java.util.Map">
    select
    ddp.id as dynamicProId,ddp.product_id as productId,ddp.product_spec_id as productSpecId,dp.name as productName,dpsmc.spec_union_key as productSpec,dp.suggested_price as suggestedPrice,ddp.product_num as productNum,dp.show_price as showPrice
    from dms_dynamic_product ddp left join dms_product dp on ddp.product_id=dp.id
    left join dms_product_spec_matrix_config dpsmc on ddp.product_spec_id=dpsmc.id
    where ddp.dynamic_id = #{id}
  </select>
</mapper>