<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coracle.dms.dao.mybatis.DmsOrderDeliveryItemMapper" >
  <resultMap id="DmsOrderDeliveryItemResultMap" type="com.coracle.dms.po.DmsOrderDeliveryItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="related_type" property="relatedType" jdbcType="INTEGER" />
    <result column="order_delivery_id" property="orderDeliveryId" jdbcType="BIGINT" />
    <result column="order_product_id" property="orderProductId" jdbcType="BIGINT" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="storage_id" property="storageId" jdbcType="BIGINT" />
    <result column="storage_local_id" property="storageLocalId" jdbcType="BIGINT" />
    <result column="deliver_date" property="deliverDate" jdbcType="TIMESTAMP" />
    <result column="receive_date" property="receiveDate" jdbcType="TIMESTAMP" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="last_updated_date" property="lastUpdatedDate" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="BIGINT" />
    <result column="remove_flag" property="removeFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="DmsOrderDeliveryItem_Column_List" >
    id, order_id, related_type, order_delivery_id, order_product_id, count, storage_id,
    storage_local_id, deliver_date, receive_date, created_date, created_by, last_updated_date,
    last_updated_by, remove_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="DmsOrderDeliveryItemResultMap" parameterType="java.lang.Long" >
    select
    <include refid="DmsOrderDeliveryItem_Column_List" />
    from dms_order_delivery_item
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dms_order_delivery_item
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.coracle.dms.po.DmsOrderDeliveryItem" useGeneratedKeys="true" keyProperty="id" >
    insert into dms_order_delivery_item (order_id, related_type, order_delivery_id, order_product_id, count,
    storage_id, storage_local_id, deliver_date, receive_date, created_date,
    created_by, last_updated_date, last_updated_by, remove_flag)
    values (#{orderId}, #{relatedType}, #{orderDeliveryId}, #{orderProductId}, #{count},
    #{storageId}, #{storageLocalId}, #{deliverDate}, #{receiveDate}, #{createdDate},
    #{createdBy}, #{lastUpdatedDate}, #{lastUpdatedBy}, #{removeFlag})
  </insert>
  <insert id="insertSelective" parameterType="com.coracle.dms.po.DmsOrderDeliveryItem" >
    insert into dms_order_delivery_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="relatedType != null" >
        related_type,
      </if>
      <if test="orderDeliveryId != null" >
        order_delivery_id,
      </if>
      <if test="orderProductId != null" >
        order_product_id,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="storageId != null" >
        storage_id,
      </if>
      <if test="storageLocalId != null" >
        storage_local_id,
      </if>
      <if test="deliverDate != null" >
        deliver_date,
      </if>
      <if test="receiveDate != null" >
        receive_date,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="removeFlag != null" >
        remove_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="orderId != null" >
        #{orderId},
      </if>
      <if test="relatedType != null" >
        #{relatedType},
      </if>
      <if test="orderDeliveryId != null" >
        #{orderDeliveryId},
      </if>
      <if test="orderProductId != null" >
        #{orderProductId},
      </if>
      <if test="count != null" >
        #{count},
      </if>
      <if test="storageId != null" >
        #{storageId},
      </if>
      <if test="storageLocalId != null" >
        #{storageLocalId},
      </if>
      <if test="deliverDate != null" >
        #{deliverDate},
      </if>
      <if test="receiveDate != null" >
        #{receiveDate},
      </if>
      <if test="createdDate != null" >
        #{createdDate},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="lastUpdatedDate != null" >
        #{lastUpdatedDate},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy},
      </if>
      <if test="removeFlag != null" >
        #{removeFlag},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coracle.dms.po.DmsOrderDeliveryItem" >
    update dms_order_delivery_item
    <set >
      <if test="orderId != null" >
        order_id = #{orderId},
      </if>
      <if test="relatedType != null" >
        related_type = #{relatedType},
      </if>
      <if test="orderDeliveryId != null" >
        order_delivery_id = #{orderDeliveryId},
      </if>
      <if test="orderProductId != null" >
        order_product_id = #{orderProductId},
      </if>
      <if test="count != null" >
        count = #{count},
      </if>
      <if test="storageId != null" >
        storage_id = #{storageId},
      </if>
      <if test="storageLocalId != null" >
        storage_local_id = #{storageLocalId},
      </if>
      <if test="deliverDate != null" >
        deliver_date = #{deliverDate},
      </if>
      <if test="receiveDate != null" >
        receive_date = #{receiveDate},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy},
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date = #{lastUpdatedDate},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy},
      </if>
      <if test="removeFlag != null" >
        remove_flag = #{removeFlag},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coracle.dms.po.DmsOrderDeliveryItem" >
    update dms_order_delivery_item
    set order_id = #{orderId},
    related_type = #{relatedType},
    order_delivery_id = #{orderDeliveryId},
    order_product_id = #{orderProductId},
    count = #{count},
    storage_id = #{storageId},
    storage_local_id = #{storageLocalId},
    deliver_date = #{deliverDate},
    receive_date = #{receiveDate},
    created_date = #{createdDate},
    created_by = #{createdBy},
    last_updated_date = #{lastUpdatedDate},
    last_updated_by = #{lastUpdatedBy},
    remove_flag = #{removeFlag}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      <if test="orderId != null" >
        order_id = #{orderId}
      </if>
      <if test="relatedType != null" >
        AND related_type = #{relatedType}
      </if>
      <if test="orderDeliveryId != null" >
        AND order_delivery_id = #{orderDeliveryId}
      </if>
      <if test="orderProductId != null" >
        AND order_product_id = #{orderProductId}
      </if>
      <if test="count != null" >
        AND count = #{count}
      </if>
      <if test="storageId != null" >
        AND storage_id = #{storageId}
      </if>
      <if test="storageLocalId != null" >
        AND storage_local_id = #{storageLocalId}
      </if>
      <if test="deliverDate != null" >
        AND deliver_date = #{deliverDate}
      </if>
      <if test="receiveDate != null" >
        AND receive_date = #{receiveDate}
      </if>
      <if test="createdDate != null" >
        AND created_date = #{createdDate}
      </if>
      <if test="createdBy != null" >
        AND created_by = #{createdBy}
      </if>
      <if test="lastUpdatedDate != null" >
        AND last_updated_date = #{lastUpdatedDate}
      </if>
      <if test="lastUpdatedBy != null" >
        AND last_updated_by = #{lastUpdatedBy}
      </if>
      <if test="removeFlag != null" >
        AND remove_flag = #{removeFlag}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.coracle.dms.po.DmsOrderDeliveryItem" resultMap="DmsOrderDeliveryItemResultMap" >
    select
    <include refid="DmsOrderDeliveryItem_Column_List" />
    from dms_order_delivery_item
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
        ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update dms_order_delivery_item
    <set >
      <if test="po.orderId != null" >
        order_id = #{po.orderId},
      </if>
      <if test="po.relatedType != null" >
        related_type = #{po.relatedType},
      </if>
      <if test="po.orderDeliveryId != null" >
        order_delivery_id = #{po.orderDeliveryId},
      </if>
      <if test="po.orderProductId != null" >
        order_product_id = #{po.orderProductId},
      </if>
      <if test="po.count != null" >
        count = #{po.count},
      </if>
      <if test="po.storageId != null" >
        storage_id = #{po.storageId},
      </if>
      <if test="po.storageLocalId != null" >
        storage_local_id = #{po.storageLocalId},
      </if>
      <if test="po.deliverDate != null" >
        deliver_date = #{po.deliverDate},
      </if>
      <if test="po.receiveDate != null" >
        receive_date = #{po.receiveDate},
      </if>
      <if test="po.createdDate != null" >
        created_date = #{po.createdDate},
      </if>
      <if test="po.createdBy != null" >
        created_by = #{po.createdBy},
      </if>
      <if test="po.lastUpdatedDate != null" >
        last_updated_date = #{po.lastUpdatedDate},
      </if>
      <if test="po.lastUpdatedBy != null" >
        last_updated_by = #{po.lastUpdatedBy},
      </if>
      <if test="po.removeFlag != null" >
        remove_flag = #{po.removeFlag},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>

  <!-- +++++++ 自定义sql start +++++++ -->

  <resultMap id="DmsOrderDeliveryItemVoResultMap" type="com.coracle.dms.vo.DmsOrderDeliveryItemVo" extends="DmsOrderDeliveryItemResultMap">
    <result column="product_name" property="productName" jdbcType="VARCHAR"/>
    <result column="product_code" property="productCode" jdbcType="VARCHAR"/>
    <result column="product_spec" property="productSpec" jdbcType="VARCHAR"/>
    <result column="product_price" property="productPrice" jdbcType="DECIMAL"/>
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR"/>
    <result column="unit" property="unit" jdbcType="VARCHAR"/>
    <result column="storage" property="storage" jdbcType="VARCHAR"/>
    <result column="order_delivery_code" property="orderDeliveryCode" jdbcType="VARCHAR"/>
  </resultMap>

  <!-- 批量插入 -->
  <insert id="batchInsert" parameterType="java.util.List">
    insert into dms_order_delivery_item
    (
      order_id, related_type, order_delivery_id, order_product_id, count, storage_id, storage_local_id,
      deliver_date, receive_date, created_date, created_by, last_updated_date, last_updated_by, remove_flag
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
    (
      #{item.orderId}, #{item.relatedType}, #{item.orderDeliveryId}, #{item.orderProductId}, #{item.count}, #{item.storageId}, #{item.storageLocalId},
      #{item.deliverDate}, #{item.receiveDate}, #{item.createdDate}, #{item.createdBy}, #{item.lastUpdatedDate}, #{item.lastUpdatedBy}, #{item.removeFlag}
    )
    </foreach>
  </insert>

  <!-- 根据订单id获取已发货产品信息列表 -->
  <select id="selectDeliveredListByOrderId" parameterType="java.lang.Long" resultMap="DmsOrderDeliveryItemVoResultMap">
    select
      odi.*,
      op.product_name as product_name,
      op.product_code as product_code,
      op.spec_union_key as product_spec,
      op.price as product_price,
      caf.file_compress_path as pic_url,
      op.unit as unit,
      s.name as storage,
      od.code as order_delivery_code
    from
      dms_order_delivery_item odi
    left join dms_order_product op on op.id = odi.order_product_id
    left join dms_product p on p.id = op.product_id
    left join dms_common_attach_file caf on caf.id = p.pic_id
    left join dms_storage s on s.id = odi.storage_id
    left join dms_order_delivery od on od.id = odi.order_delivery_id
    where
      odi.order_id = #{id}
      and odi.related_type = 1
      and odi.remove_flag = 0
  </select>
  
  <select id="selectDeliveredListByOrderIdRT" parameterType="java.lang.Long" resultMap="DmsOrderDeliveryItemVoResultMap">
    select
      odi.*,
      op.product_name as product_name,
      op.spec_union_key as product_spec,
      op.price as product_price,
      caf.file_compress_path as pic_url,
      op.unit_id as unit,
      s.name as storage,
      od.code as order_delivery_code
    from
      dms_order_delivery_item odi
    left join dms_order_return_item op on op.id = odi.order_product_id
    left join dms_product p on p.id = op.product_id
    left join dms_common_attach_file caf on caf.id = p.pic_id
    left join dms_storage s on s.id = odi.storage_id
    left join dms_order_delivery od on od.id = odi.order_delivery_id
    where
      odi.order_id = #{id}
      and odi.related_type = 2
      and odi.remove_flag = 0
  </select>

  <!-- 获取已发货，但是还未确认收货的订单产品数量 -->
  <select id="selectUnconfirmedCount" parameterType="java.lang.Long" resultType="Integer">
    select
      count(*)
    from
      dms_order_delivery_item odi
    where
      odi.order_id = #{orderId}
      and odi.related_type = 1
      and odi.receive_date is null
  </select>
  <!-- 退换货（后续统一修改公用一个方法） -->
 <select id="selectUnconfirmedCountRT" parameterType="java.lang.Long" resultType="Integer">
    select count(1) from dms_order_delivery_item odi where odi.order_id = #{id} and odi.related_type = 2 and odi.receive_date is null
  </select>
  <!-- +++++++ 自定义sql end +++++++ -->
</mapper>