<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coracle.dms.dao.mybatis.DmsPromotionScopeMapper" >
  <resultMap id="DmsPromotionScopeResultMap" type="com.coracle.dms.po.DmsPromotionScope" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="promotion_id" property="promotionId" jdbcType="BIGINT" />
    <result column="scope_id" property="scopeId" jdbcType="BIGINT" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="last_updated_date" property="lastUpdatedDate" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="BIGINT" />
    <result column="remove_flag" property="removeFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="DmsPromotionScope_Column_List" >
    id, promotion_id, scope_id, created_date, created_by, last_updated_date,
    last_updated_by, remove_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="DmsPromotionScopeResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="DmsPromotionScope_Column_List" />
    from dms_promotion_scope
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dms_promotion_scope
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.coracle.dms.po.DmsPromotionScope" useGeneratedKeys="true" keyProperty="id" >
    insert into dms_promotion_scope (promotion_id, scope_id, created_date, created_by, last_updated_date,
      last_updated_by, remove_flag)
    values (#{promotionId}, #{scopeType}, #{scopeId}, #{createdDate}, #{createdBy}, #{lastUpdatedDate}, 
      #{lastUpdatedBy}, #{removeFlag})
  </insert>
  <insert id="insertSelective" parameterType="com.coracle.dms.po.DmsPromotionScope" >
    insert into dms_promotion_scope
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="promotionId != null" >
        promotion_id,
      </if>
      <if test="scopeId != null" >
        scope_id,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="removeFlag != null" >
        remove_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="promotionId != null" >
        #{promotionId},
      </if>
      <if test="scopeId != null" >
        #{scopeId},
      </if>
      <if test="createdDate != null" >
        #{createdDate},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="lastUpdatedDate != null" >
        #{lastUpdatedDate},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy},
      </if>
      <if test="removeFlag != null" >
        #{removeFlag},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coracle.dms.po.DmsPromotionScope" >
    update dms_promotion_scope
    <set >
      <if test="promotionId != null" >
        promotion_id = #{promotionId},
      </if>
      <if test="scopeId != null" >
        scope_id = #{scopeId},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy},
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date = #{lastUpdatedDate},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy},
      </if>
      <if test="removeFlag != null" >
        remove_flag = #{removeFlag},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coracle.dms.po.DmsPromotionScope" >
    update dms_promotion_scope
    set promotion_id = #{promotionId},
      scope_id = #{scopeId},
      created_date = #{createdDate},
      created_by = #{createdBy},
      last_updated_date = #{lastUpdatedDate},
      last_updated_by = #{lastUpdatedBy},
      remove_flag = #{removeFlag}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      <if test="promotionId != null" >
        promotion_id = #{promotionId}
      </if>
      <if test="scopeId != null" >
        AND scope_id = #{scopeId}
      </if>
      <if test="createdDate != null" >
        AND created_date = #{createdDate}
      </if>
      <if test="createdBy != null" >
        AND created_by = #{createdBy}
      </if>
      <if test="lastUpdatedDate != null" >
        AND last_updated_date = #{lastUpdatedDate}
      </if>
      <if test="lastUpdatedBy != null" >
        AND last_updated_by = #{lastUpdatedBy}
      </if>
      <if test="removeFlag != null" >
        AND remove_flag = #{removeFlag}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.coracle.dms.po.DmsPromotionScope" resultMap="DmsPromotionScopeResultMap" >
    select 
    <include refid="DmsPromotionScope_Column_List" />
    from dms_promotion_scope
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
         ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update dms_promotion_scope
    <set >
      <if test="po.promotionId != null" >
        promotion_id = #{po.promotionId},
      </if>
      <if test="po.scopeId != null" >
        scope_id = #{po.scopeId},
      </if>
      <if test="po.createdDate != null" >
        created_date = #{po.createdDate},
      </if>
      <if test="po.createdBy != null" >
        created_by = #{po.createdBy},
      </if>
      <if test="po.lastUpdatedDate != null" >
        last_updated_date = #{po.lastUpdatedDate},
      </if>
      <if test="po.lastUpdatedBy != null" >
        last_updated_by = #{po.lastUpdatedBy},
      </if>
      <if test="po.removeFlag != null" >
        remove_flag = #{po.removeFlag},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>

  <!-- +++++++ 自定义sql start +++++++ -->
  
  <resultMap id="DmsPromotionScopeVoResultMap" type="com.coracle.dms.vo.DmsPromotionScopeVo" extends="DmsPromotionScopeResultMap">
    <result column="scope_name" property="scopeName" jdbcType="VARCHAR"/>
  </resultMap>

  <!-- 根据促销活动id删除促销适用范围信息 -->
  <delete id="deleteByPromotionId" parameterType="java.lang.Long">
    delete from
      dms_promotion_scope
    where
      promotion_id = #{promotionId}
  </delete>

  <!-- 批量插入 -->
  <insert id="batchInsert" parameterType="java.util.List">
    insert into
      dms_promotion_scope
    (
      promotion_id, scope_id, created_date, created_by,
      last_updated_date, last_updated_by, remove_flag
    )
    values
    <foreach collection="list" index="index" item="item" separator=",">
    (
      #{item.promotionId}, #{item.scopeId}, #{item.createdDate}, #{item.createdBy},
      #{item.lastUpdatedDate}, #{item.lastUpdatedBy}, #{item.removeFlag}
    )
    </foreach>
  </insert>

  <!-- 根据促销活动id获取vo对象 -->
  <select id="selectVoByPromotionId" parameterType="java.lang.Long" resultMap="DmsPromotionScopeVoResultMap">
    select
      ps.*,
      case tr.related_type
        when 4 then sa.full_path
        when 1 then c.name
        when 2 then s.name
      end as scope_name
    from
      dms_promotion_scope ps
    left join dms_tree_relation tr on tr.id = ps.scope_id
    left join dms_sys_area sa on sa.id = tr.related_id
    left join dms_channel c on c.id = tr.related_id
    left join dms_store s on s.id = tr.related_id
    where
      ps.promotion_id = #{promotionId}
      and ps.remove_flag = 0
  </select>

  <!-- 根据促销活动id获取促销适用范围 -->
  <select id="selectScopeByPromotionId" parameterType="java.lang.Long" resultType="java.lang.String">
    select
      group_concat(
        case tr.related_type
          when 4 then sa.full_path
          when 1 then c.name
          when 2 then s.name
        end
        order by ps.scope_id asc separator ';'
      )
    from
      dms_promotion_scope ps
    left join dms_tree_relation tr on tr.id = ps.scope_id
    left join dms_sys_area sa on sa.id = tr.related_id
    left join dms_channel c on c.id = tr.related_id
    left join dms_store s on s.id = tr.related_id
    where
      ps.promotion_id = #{promotionId}
      and ps.remove_flag = 0
  </select>

  <!-- +++++++ 自定义sql end +++++++ -->
</mapper>