<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coracle.dms.dao.mybatis.DmsStorageBillMapper" >
  <resultMap id="DmsStorageBillResultMap" type="com.coracle.dms.po.DmsStorageBill" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="storage_id" property="storageId" jdbcType="BIGINT" />
    <result column="local_id" property="localId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="bill_no" property="billNo" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="last_updated_date" property="lastUpdatedDate" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="BIGINT" />
    <result column="remove_flag" property="removeFlag" jdbcType="INTEGER" />
    <result column="expand1" property="expand1" jdbcType="VARCHAR" />
    <result column="expand2" property="expand2" jdbcType="VARCHAR" />
    <result column="expand3" property="expand3" jdbcType="VARCHAR" />
    <result column="expand4" property="expand4" jdbcType="VARCHAR" />
    <result column="expand5" property="expand5" jdbcType="VARCHAR" />
    <result column="expand6" property="expand6" jdbcType="VARCHAR" />
    <result column="expand7" property="expand7" jdbcType="VARCHAR" />
    <result column="expand8" property="expand8" jdbcType="VARCHAR" />
    <result column="expand9" property="expand9" jdbcType="VARCHAR" />
    <result column="expand10" property="expand10" jdbcType="VARCHAR" />
    <result column="expand11" property="expand11" jdbcType="VARCHAR" />
    <result column="expand12" property="expand12" jdbcType="VARCHAR" />
    <result column="expand13" property="expand13" jdbcType="VARCHAR" />
    <result column="expand14" property="expand14" jdbcType="VARCHAR" />
    <result column="expand15" property="expand15" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="DmsStorageBill_Column_List" >
    id, storage_id, local_id, type, bill_no, remark, created_date, created_by, last_updated_date, 
    last_updated_by, remove_flag, expand1, expand2, expand3, expand4, expand5, expand6, 
    expand7, expand8, expand9, expand10, expand11, expand12, expand13, expand14, expand15
  </sql>
  <select id="selectByPrimaryKey" resultMap="DmsStorageBillResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="DmsStorageBill_Column_List" />
    from dms_storage_bill
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dms_storage_bill
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.coracle.dms.po.DmsStorageBill" useGeneratedKeys="true" keyProperty="id" >
    insert into dms_storage_bill (storage_id, local_id, type, bill_no, remark, created_date, 
      created_by, last_updated_date, last_updated_by, remove_flag, expand1, 
      expand2, expand3, expand4, expand5, expand6, expand7, expand8, 
      expand9, expand10, expand11, expand12, expand13, expand14, expand15
      )
    values (#{storageId}, #{localId}, #{type}, #{billNo}, #{remark}, #{createdDate}, 
      #{createdBy}, #{lastUpdatedDate}, #{lastUpdatedBy}, #{removeFlag}, #{expand1}, 
      #{expand2}, #{expand3}, #{expand4}, #{expand5}, #{expand6}, #{expand7}, #{expand8}, 
      #{expand9}, #{expand10}, #{expand11}, #{expand12}, #{expand13}, #{expand14}, #{expand15}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.coracle.dms.po.DmsStorageBill" >
    insert into dms_storage_bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storageId != null" >
        storage_id,
      </if>
      <if test="localId != null" >
        local_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="billNo != null" >
        bill_no,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="removeFlag != null" >
        remove_flag,
      </if>
      <if test="expand1 != null" >
        expand1,
      </if>
      <if test="expand2 != null" >
        expand2,
      </if>
      <if test="expand3 != null" >
        expand3,
      </if>
      <if test="expand4 != null" >
        expand4,
      </if>
      <if test="expand5 != null" >
        expand5,
      </if>
      <if test="expand6 != null" >
        expand6,
      </if>
      <if test="expand7 != null" >
        expand7,
      </if>
      <if test="expand8 != null" >
        expand8,
      </if>
      <if test="expand9 != null" >
        expand9,
      </if>
      <if test="expand10 != null" >
        expand10,
      </if>
      <if test="expand11 != null" >
        expand11,
      </if>
      <if test="expand12 != null" >
        expand12,
      </if>
      <if test="expand13 != null" >
        expand13,
      </if>
      <if test="expand14 != null" >
        expand14,
      </if>
      <if test="expand15 != null" >
        expand15,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="storageId != null" >
        #{storageId},
      </if>
      <if test="localId != null" >
        #{localId},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="billNo != null" >
        #{billNo},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
      <if test="createdDate != null" >
        #{createdDate},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="lastUpdatedDate != null" >
        #{lastUpdatedDate},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy},
      </if>
      <if test="removeFlag != null" >
        #{removeFlag},
      </if>
      <if test="expand1 != null" >
        #{expand1},
      </if>
      <if test="expand2 != null" >
        #{expand2},
      </if>
      <if test="expand3 != null" >
        #{expand3},
      </if>
      <if test="expand4 != null" >
        #{expand4},
      </if>
      <if test="expand5 != null" >
        #{expand5},
      </if>
      <if test="expand6 != null" >
        #{expand6},
      </if>
      <if test="expand7 != null" >
        #{expand7},
      </if>
      <if test="expand8 != null" >
        #{expand8},
      </if>
      <if test="expand9 != null" >
        #{expand9},
      </if>
      <if test="expand10 != null" >
        #{expand10},
      </if>
      <if test="expand11 != null" >
        #{expand11},
      </if>
      <if test="expand12 != null" >
        #{expand12},
      </if>
      <if test="expand13 != null" >
        #{expand13},
      </if>
      <if test="expand14 != null" >
        #{expand14},
      </if>
      <if test="expand15 != null" >
        #{expand15},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coracle.dms.po.DmsStorageBill" >
    update dms_storage_bill
    <set >
      <if test="storageId != null" >
        storage_id = #{storageId},
      </if>
      <if test="localId != null" >
        local_id = #{localId},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="billNo != null" >
        bill_no = #{billNo},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy},
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date = #{lastUpdatedDate},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy},
      </if>
      <if test="removeFlag != null" >
        remove_flag = #{removeFlag},
      </if>
      <if test="expand1 != null" >
        expand1 = #{expand1},
      </if>
      <if test="expand2 != null" >
        expand2 = #{expand2},
      </if>
      <if test="expand3 != null" >
        expand3 = #{expand3},
      </if>
      <if test="expand4 != null" >
        expand4 = #{expand4},
      </if>
      <if test="expand5 != null" >
        expand5 = #{expand5},
      </if>
      <if test="expand6 != null" >
        expand6 = #{expand6},
      </if>
      <if test="expand7 != null" >
        expand7 = #{expand7},
      </if>
      <if test="expand8 != null" >
        expand8 = #{expand8},
      </if>
      <if test="expand9 != null" >
        expand9 = #{expand9},
      </if>
      <if test="expand10 != null" >
        expand10 = #{expand10},
      </if>
      <if test="expand11 != null" >
        expand11 = #{expand11},
      </if>
      <if test="expand12 != null" >
        expand12 = #{expand12},
      </if>
      <if test="expand13 != null" >
        expand13 = #{expand13},
      </if>
      <if test="expand14 != null" >
        expand14 = #{expand14},
      </if>
      <if test="expand15 != null" >
        expand15 = #{expand15},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coracle.dms.po.DmsStorageBill" >
    update dms_storage_bill
    set storage_id = #{storageId},
      local_id = #{localId},
      type = #{type},
      bill_no = #{billNo},
      remark = #{remark},
      created_date = #{createdDate},
      created_by = #{createdBy},
      last_updated_date = #{lastUpdatedDate},
      last_updated_by = #{lastUpdatedBy},
      remove_flag = #{removeFlag},
      expand1 = #{expand1},
      expand2 = #{expand2},
      expand3 = #{expand3},
      expand4 = #{expand4},
      expand5 = #{expand5},
      expand6 = #{expand6},
      expand7 = #{expand7},
      expand8 = #{expand8},
      expand9 = #{expand9},
      expand10 = #{expand10},
      expand11 = #{expand11},
      expand12 = #{expand12},
      expand13 = #{expand13},
      expand14 = #{expand14},
      expand15 = #{expand15}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      <if test="storageId != null" >
        storage_id = #{storageId}
      </if>
      <if test="localId != null" >
        AND local_id = #{localId}
      </if>
      <if test="type != null" >
        AND type = #{type}
      </if>
      <if test="billNo != null and billNo != ''" >
        AND bill_no = #{billNo}
      </if>
      <if test="remark != null and remark != ''" >
        AND remark = #{remark}
      </if>
      <if test="createdDate != null" >
        AND created_date = #{createdDate}
      </if>
      <if test="createdBy != null" >
        AND created_by = #{createdBy}
      </if>
      <if test="lastUpdatedDate != null" >
        AND last_updated_date = #{lastUpdatedDate}
      </if>
      <if test="lastUpdatedBy != null" >
        AND last_updated_by = #{lastUpdatedBy}
      </if>
      <if test="removeFlag != null" >
        AND remove_flag = #{removeFlag}
      </if>
      <if test="expand1 != null and expand1 != ''" >
        AND expand1 = #{expand1}
      </if>
      <if test="expand2 != null and expand2 != ''" >
        AND expand2 = #{expand2}
      </if>
      <if test="expand3 != null and expand3 != ''" >
        AND expand3 = #{expand3}
      </if>
      <if test="expand4 != null and expand4 != ''" >
        AND expand4 = #{expand4}
      </if>
      <if test="expand5 != null and expand5 != ''" >
        AND expand5 = #{expand5}
      </if>
      <if test="expand6 != null and expand6 != ''" >
        AND expand6 = #{expand6}
      </if>
      <if test="expand7 != null and expand7 != ''" >
        AND expand7 = #{expand7}
      </if>
      <if test="expand8 != null and expand8 != ''" >
        AND expand8 = #{expand8}
      </if>
      <if test="expand9 != null and expand9 != ''" >
        AND expand9 = #{expand9}
      </if>
      <if test="expand10 != null and expand10 != ''" >
        AND expand10 = #{expand10}
      </if>
      <if test="expand11 != null and expand11 != ''" >
        AND expand11 = #{expand11}
      </if>
      <if test="expand12 != null and expand12 != ''" >
        AND expand12 = #{expand12}
      </if>
      <if test="expand13 != null and expand13 != ''" >
        AND expand13 = #{expand13}
      </if>
      <if test="expand14 != null and expand14 != ''" >
        AND expand14 = #{expand14}
      </if>
      <if test="expand15 != null and expand15 != ''" >
        AND expand15 = #{expand15}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.coracle.dms.po.DmsStorageBill" resultMap="DmsStorageBillResultMap" >
    select 
    <include refid="DmsStorageBill_Column_List" />
    from dms_storage_bill
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
         ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update dms_storage_bill
    <set >
      <if test="po.storageId != null" >
        storage_id = #{po.storageId},
      </if>
      <if test="po.localId != null" >
        local_id = #{po.localId},
      </if>
      <if test="po.type != null" >
        type = #{po.type},
      </if>
      <if test="po.billNo != null" >
        bill_no = #{po.billNo},
      </if>
      <if test="po.remark != null" >
        remark = #{po.remark},
      </if>
      <if test="po.createdDate != null" >
        created_date = #{po.createdDate},
      </if>
      <if test="po.createdBy != null" >
        created_by = #{po.createdBy},
      </if>
      <if test="po.lastUpdatedDate != null" >
        last_updated_date = #{po.lastUpdatedDate},
      </if>
      <if test="po.lastUpdatedBy != null" >
        last_updated_by = #{po.lastUpdatedBy},
      </if>
      <if test="po.removeFlag != null" >
        remove_flag = #{po.removeFlag},
      </if>
      <if test="po.expand1 != null" >
        expand1 = #{po.expand1},
      </if>
      <if test="po.expand2 != null" >
        expand2 = #{po.expand2},
      </if>
      <if test="po.expand3 != null" >
        expand3 = #{po.expand3},
      </if>
      <if test="po.expand4 != null" >
        expand4 = #{po.expand4},
      </if>
      <if test="po.expand5 != null" >
        expand5 = #{po.expand5},
      </if>
      <if test="po.expand6 != null" >
        expand6 = #{po.expand6},
      </if>
      <if test="po.expand7 != null" >
        expand7 = #{po.expand7},
      </if>
      <if test="po.expand8 != null" >
        expand8 = #{po.expand8},
      </if>
      <if test="po.expand9 != null" >
        expand9 = #{po.expand9},
      </if>
      <if test="po.expand10 != null" >
        expand10 = #{po.expand10},
      </if>
      <if test="po.expand11 != null" >
        expand11 = #{po.expand11},
      </if>
      <if test="po.expand12 != null" >
        expand12 = #{po.expand12},
      </if>
      <if test="po.expand13 != null" >
        expand13 = #{po.expand13},
      </if>
      <if test="po.expand14 != null" >
        expand14 = #{po.expand14},
      </if>
      <if test="po.expand15 != null" >
        expand15 = #{po.expand15},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>

  <!-- +++++++++++++++++++++++++++++++++++++++++++++Parting line : new sql here++++++++++++++++++++++++++++++++++++++++++++++++ -->

  <resultMap id="DmsStorageBillVoResultMap" type="com.coracle.dms.vo.DmsStorageBillVo" extends="DmsStorageBillResultMap">
    <result column="unitText" property="unitText" jdbcType="VARCHAR"/>
    <result column="localCode" property="localCode" jdbcType="VARCHAR"/>
    <result column="storageNum" property="storageNum" jdbcType="VARCHAR"/>
    <result column="categoryText" property="categoryText" jdbcType="VARCHAR"/>
    <result column="productId" property="productId" jdbcType="VARCHAR"/>
    <result column="productName" property="productName" jdbcType="VARCHAR"/>
    <result column="productCode" property="productCode" jdbcType="VARCHAR"/>
    <result column="storageName" property="storageName" jdbcType="VARCHAR"/>
    <result column="specName" property="specName" jdbcType="VARCHAR"/>
    <result column="assignWayText" jdbcType="VARCHAR" property="assignWayText" />
  </resultMap>

  <!-- 根据条件获取Vo对象 -->
  <select id="getPageList" parameterType="com.coracle.dms.vo.DmsStorageBillVo" resultMap="DmsStorageBillVoResultMap">
    select
    dsb.id, dsb.storage_id storageId, dsb.local_id localId, dsb.type, dsb.bill_no billNo, dsb.remark,dsbp.storage_num storageNum,
    ds.name storageName,sl.code localCode,p.id productId,p.name productName,p.code productCode,ddd.name unitText,pc.id categoryId, pc.name categoryText,
    dsb.created_date createdDate,smc.spec_union_key specName,ddd1.`name` assignWayText
    from dms_storage_bill dsb
    LEFT JOIN dms_storage_bill_product dsbp on dsbp.storage_bill_id = dsb.id
    LEFT JOIN dms_product p on dsbp.product_id=p.id
    LEFT JOIN dms_product_category pc on p.category_id=pc.id
    LEFT JOIN dms_storage_local sl on sl.id=dsb.local_id
    LEFT JOIN dms_storage ds on ds.id=dsb.storage_id
    LEFT JOIN dms_product_spec_matrix_config smc on dsbp.product_spec_id=smc.id
    LEFT JOIN dms_data_dictionary dd on dd.s_key='product_unit' LEFT JOIN dms_data_dictionary_dependent ddd on dd.id=ddd.dictionary_id and ddd.s_key=p.unit
    LEFT JOIN dms_data_dictionary dd1 on dd1.s_key='entry_type' LEFT JOIN dms_data_dictionary_dependent ddd1 on dd1.id=ddd1.dictionary_id and ddd1.s_key=dsb.type
    where
    dsb.remove_flag = 0
    <choose>
      <!-- 查询品牌商产品库存 -->
      <when test="orgType != null and orgType==1">
        and ds.org_id = #{orgId} and ds.storage_type=1
      </when>
      <!-- 查询渠道商产品库存 -->
      <when test="orgType != null and orgType==2">
        and ds.org_id = #{orgId} and ds.storage_type=2
      </when>
    </choose>
    <if test="type!=null">
      and dsb.type =#{type}
    </if>
    <if test="storageName!=null and storageName!=''">
      and ds.`name` like concat('%',#{storageName},'%')
    </if>
    <if test="categoryId!=null">
      and pc.id IN (SELECT id from dms_product_category where find_in_set(#{categoryId},path))
    </if>
    <if test="productName!=null and productName!=''">
      and p.`name` like concat('%',#{productName},'%')
    </if>
    <if test="startDate != null and startDate != ''">
      and dsb.created_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate != ''">
      and dsb.created_date &lt;= #{endDate}
    </if>
    order by dsb.id desc
  </select>


</mapper>