<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coracle.dms.dao.mybatis.DmsStorageBillProductMapper" >
  <resultMap id="DmsStorageBillProductResultMap" type="com.coracle.dms.po.DmsStorageBillProduct" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="storage_bill_id" property="storageBillId" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="product_spec_id" property="productSpecId" jdbcType="BIGINT" />
    <result column="storage_num" property="storageNum" jdbcType="INTEGER" />
    <result column="use_num" property="useNum" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="last_updated_date" property="lastUpdatedDate" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="BIGINT" />
    <result column="remove_flag" property="removeFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="DmsStorageBillProduct_Column_List" >
    id, storage_bill_id, product_id,product_spec_id,  storage_num, use_num, created_date,
    created_by, last_updated_date, last_updated_by, remove_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="DmsStorageBillProductResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="DmsStorageBillProduct_Column_List" />
    from dms_storage_bill_product
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dms_storage_bill_product
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.coracle.dms.po.DmsStorageBillProduct" useGeneratedKeys="true" keyProperty="id" >
    insert into dms_storage_bill_product (storage_bill_id, product_id, product_spec_id, storage_num, use_num,
      created_date, created_by, last_updated_date, last_updated_by, remove_flag
      )
    values (#{storageBillId}, #{productId},  #{storageNum}, #{useNum},
      #{createdDate}, #{createdBy}, #{lastUpdatedDate}, #{lastUpdatedBy}, #{removeFlag}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.coracle.dms.po.DmsStorageBillProduct" >
    insert into dms_storage_bill_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storageBillId != null" >
        storage_bill_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productSpecId != null" >
      product_spec_id,
      </if>
      <if test="storageNum != null" >
        storage_num,
      </if>
      <if test="useNum != null" >
        use_num,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="removeFlag != null" >
        remove_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="storageBillId != null" >
        #{storageBillId},
      </if>
      <if test="productId != null" >
        #{productId},
      </if>
      <if test="specName != null" >
        #{specName},
      </if>
      <if test="unit != null" >
        #{unit},
      </if>
      <if test="storageNum != null" >
        #{storageNum},
      </if>
      <if test="useNum != null" >
        #{useNum},
      </if>
      <if test="createdDate != null" >
        #{createdDate},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="lastUpdatedDate != null" >
        #{lastUpdatedDate},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy},
      </if>
      <if test="removeFlag != null" >
        #{removeFlag},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coracle.dms.po.DmsStorageBillProduct" >
    update dms_storage_bill_product
    <set >
      <if test="storageBillId != null" >
        storage_bill_id = #{storageBillId},
      </if>
      <if test="productId != null" >
        product_id = #{productId},
      </if>
      <if test="productSpecId != null" >
      product_spec_id = #{productSpecId},
      </if>
      <if test="storageNum != null" >
        storage_num = #{storageNum},
      </if>
      <if test="useNum != null" >
        use_num = #{useNum},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy},
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date = #{lastUpdatedDate},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy},
      </if>
      <if test="removeFlag != null" >
        remove_flag = #{removeFlag},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coracle.dms.po.DmsStorageBillProduct" >
    update dms_storage_bill_product
    set storage_bill_id = #{storageBillId},
      product_id = #{productId},
      product_spec_id = #{productSpecId},
      storage_num = #{storageNum},
      use_num = #{useNum},
      created_date = #{createdDate},
      created_by = #{createdBy},
      last_updated_date = #{lastUpdatedDate},
      last_updated_by = #{lastUpdatedBy},
      remove_flag = #{removeFlag}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      <if test="storageBillId != null" >
        storage_bill_id = #{storageBillId}
      </if>
      <if test="productId != null" >
        AND product_id = #{productId}
      </if>
      <if test="productSpecId != null" >
        AND product_spec_id = #{productSpecId}
      </if>
      <if test="storageNum != null" >
        AND storage_num = #{storageNum}
      </if>
      <if test="useNum != null" >
        AND use_num = #{useNum}
      </if>
      <if test="createdDate != null" >
        AND created_date = #{createdDate}
      </if>
      <if test="createdBy != null" >
        AND created_by = #{createdBy}
      </if>
      <if test="lastUpdatedDate != null" >
        AND last_updated_date = #{lastUpdatedDate}
      </if>
      <if test="lastUpdatedBy != null" >
        AND last_updated_by = #{lastUpdatedBy}
      </if>
      <if test="removeFlag != null" >
        AND remove_flag = #{removeFlag}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.coracle.dms.po.DmsStorageBillProduct" resultMap="DmsStorageBillProductResultMap" >
    select 
    <include refid="DmsStorageBillProduct_Column_List" />
    from dms_storage_bill_product
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
         ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update dms_storage_bill_product
    <set >
      <if test="po.storageBillId != null" >
        storage_bill_id = #{po.storageBillId},
      </if>
      <if test="po.productId != null" >
        product_id = #{po.productId},
      </if>
      <if test="po.productSpecId != null" >
      product_spec_id = #{po.productSpecId},
      </if>
      <if test="po.storageNum != null" >
        storage_num = #{po.storageNum},
      </if>
      <if test="po.useNum != null" >
        use_num = #{po.useNum},
      </if>
      <if test="po.createdDate != null" >
        created_date = #{po.createdDate},
      </if>
      <if test="po.createdBy != null" >
        created_by = #{po.createdBy},
      </if>
      <if test="po.lastUpdatedDate != null" >
        last_updated_date = #{po.lastUpdatedDate},
      </if>
      <if test="po.lastUpdatedBy != null" >
        last_updated_by = #{po.lastUpdatedBy},
      </if>
      <if test="po.removeFlag != null" >
        remove_flag = #{po.removeFlag},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>


  <!-- +++++++++++++++++++++++++++++++++++++++++++++Parting line : new sql here++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <insert id="batchInsert" parameterType="java.util.List">
    insert into dms_storage_bill_product(storage_bill_id, product_id,product_spec_id, storage_num, use_num,
    created_date, created_by, last_updated_date, last_updated_by, remove_flag)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.storageBillId}, #{item.productId},#{item.productSpecId}, #{item.storageNum},#{item.useNum},
      #{item.createdDate}, #{item.createdBy},#{item.lastUpdatedDate}, #{item.lastUpdatedBy},#{item.removeFlag})
    </foreach>
  </insert>

  <!-- 软删除 -->
  <update id="deleteByStorageBillProductId" parameterType="java.lang.Long">
    update dms_storage_bill_product set remove_Flag = 1 where id = #{id}
  </update>
</mapper>