<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coracle.dms.dao.mybatis.DmsTianGoodsStoreMapper" >
  <resultMap id="DmsTianGoodsStoreResultMap" type="com.coracle.dms.po.DmsTianGoodsStore" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="last_updated_date" property="lastUpdatedDate" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="BIGINT" />
    <result column="remove_flag" property="removeFlag" jdbcType="INTEGER" />
    <result column="material_number" property="materialNumber" jdbcType="VARCHAR" />
    <result column="material_text" property="materialText" jdbcType="VARCHAR" />
    <result column="material_type" property="materialType" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="sub_store_id" property="subStoreId" jdbcType="INTEGER" />
    <result column="store_max" property="storeMax" jdbcType="INTEGER" />
    <result column="store_min" property="storeMin" jdbcType="INTEGER" />
    <result column="box_count" property="boxCount" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="DmsTianGoodsStore_Column_List" >
    id, created_date, created_by, last_updated_date, last_updated_by, remove_flag, material_number, 
    material_text, material_type, unit, sub_store_id, store_max, store_min, box_count, 
    count, price
  </sql>
  <select id="selectByPrimaryKey" resultMap="DmsTianGoodsStoreResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="DmsTianGoodsStore_Column_List" />
    from dms_tian_goods_store
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dms_tian_goods_store
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.coracle.dms.po.DmsTianGoodsStore" useGeneratedKeys="true" keyProperty="id" >
    insert into dms_tian_goods_store (created_date, created_by, last_updated_date, last_updated_by, remove_flag, 
      material_number, material_text, material_type, unit, sub_store_id, store_max, 
      store_min, box_count, count, price)
    values (#{createdDate}, #{createdBy}, #{lastUpdatedDate}, #{lastUpdatedBy}, #{removeFlag}, 
      #{materialNumber}, #{materialText}, #{materialType}, #{unit}, #{subStoreId}, #{storeMax}, 
      #{storeMin}, #{boxCount}, #{count}, #{price})
  </insert>
  <insert id="insertSelective" parameterType="com.coracle.dms.po.DmsTianGoodsStore" >
    insert into dms_tian_goods_store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="removeFlag != null" >
        remove_flag,
      </if>
      <if test="materialNumber != null" >
        material_number,
      </if>
      <if test="materialText != null" >
        material_text,
      </if>
      <if test="materialType != null" >
        material_type,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="subStoreId != null" >
        sub_store_id,
      </if>
      <if test="storeMax != null" >
        store_max,
      </if>
      <if test="storeMin != null" >
        store_min,
      </if>
      <if test="boxCount != null" >
        box_count,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="price != null" >
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdDate != null" >
        #{createdDate},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="lastUpdatedDate != null" >
        #{lastUpdatedDate},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy},
      </if>
      <if test="removeFlag != null" >
        #{removeFlag},
      </if>
      <if test="materialNumber != null" >
        #{materialNumber},
      </if>
      <if test="materialText != null" >
        #{materialText},
      </if>
      <if test="materialType != null" >
        #{materialType},
      </if>
      <if test="unit != null" >
        #{unit},
      </if>
      <if test="subStoreId != null" >
        #{subStoreId},
      </if>
      <if test="storeMax != null" >
        #{storeMax},
      </if>
      <if test="storeMin != null" >
        #{storeMin},
      </if>
      <if test="boxCount != null" >
        #{boxCount},
      </if>
      <if test="count != null" >
        #{count},
      </if>
      <if test="price != null" >
        #{price},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coracle.dms.po.DmsTianGoodsStore" >
    update dms_tian_goods_store
    <set >
      <if test="createdDate != null" >
        created_date = #{createdDate},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy},
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date = #{lastUpdatedDate},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy},
      </if>
      <if test="removeFlag != null" >
        remove_flag = #{removeFlag},
      </if>
      <if test="materialNumber != null" >
        material_number = #{materialNumber},
      </if>
      <if test="materialText != null" >
        material_text = #{materialText},
      </if>
      <if test="materialType != null" >
        material_type = #{materialType},
      </if>
      <if test="unit != null" >
        unit = #{unit},
      </if>
      <if test="subStoreId != null" >
        sub_store_id = #{subStoreId},
      </if>
      <if test="storeMax != null" >
        store_max = #{storeMax},
      </if>
      <if test="storeMin != null" >
        store_min = #{storeMin},
      </if>
      <if test="boxCount != null" >
        box_count = #{boxCount},
      </if>
      <if test="count != null" >
        count = #{count},
      </if>
      <if test="price != null" >
        price = #{price},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coracle.dms.po.DmsTianGoodsStore" >
    update dms_tian_goods_store
    set created_date = #{createdDate},
      created_by = #{createdBy},
      last_updated_date = #{lastUpdatedDate},
      last_updated_by = #{lastUpdatedBy},
      remove_flag = #{removeFlag},
      material_number = #{materialNumber},
      material_text = #{materialText},
      material_type = #{materialType},
      unit = #{unit},
      sub_store_id = #{subStoreId},
      store_max = #{storeMax},
      store_min = #{storeMin},
      box_count = #{boxCount},
      count = #{count},
      price = #{price}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      <if test="createdDate != null" >
        created_date = #{createdDate}
      </if>
      <if test="createdBy != null" >
        AND created_by = #{createdBy}
      </if>
      <if test="lastUpdatedDate != null" >
        AND last_updated_date = #{lastUpdatedDate}
      </if>
      <if test="lastUpdatedBy != null" >
        AND last_updated_by = #{lastUpdatedBy}
      </if>
      <if test="removeFlag != null" >
        AND remove_flag = #{removeFlag}
      </if>
      <if test="materialNumber != null and materialNumber != ''" >
        AND material_number = #{materialNumber}
      </if>
      <if test="materialText != null and materialText != ''" >
        AND material_text = #{materialText}
      </if>
      <if test="materialType != null and materialType != ''" >
        AND material_type = #{materialType}
      </if>
      <if test="unit != null and unit != ''" >
        AND unit = #{unit}
      </if>
      <if test="subStoreId != null" >
        AND sub_store_id = #{subStoreId}
      </if>
      <if test="storeMax != null" >
        AND store_max = #{storeMax}
      </if>
      <if test="storeMin != null" >
        AND store_min = #{storeMin}
      </if>
      <if test="boxCount != null" >
        AND box_count = #{boxCount}
      </if>
      <if test="count != null" >
        AND count = #{count}
      </if>
      <if test="price != null" >
        AND price = #{price}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.coracle.dms.po.DmsTianGoodsStore" resultMap="DmsTianGoodsStoreResultMap" >
    select 
    <include refid="DmsTianGoodsStore_Column_List" />
    from dms_tian_goods_store
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
         ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update dms_tian_goods_store
    <set >
      <if test="po.createdDate != null" >
        created_date = #{po.createdDate},
      </if>
      <if test="po.createdBy != null" >
        created_by = #{po.createdBy},
      </if>
      <if test="po.lastUpdatedDate != null" >
        last_updated_date = #{po.lastUpdatedDate},
      </if>
      <if test="po.lastUpdatedBy != null" >
        last_updated_by = #{po.lastUpdatedBy},
      </if>
      <if test="po.removeFlag != null" >
        remove_flag = #{po.removeFlag},
      </if>
      <if test="po.materialNumber != null" >
        material_number = #{po.materialNumber},
      </if>
      <if test="po.materialText != null" >
        material_text = #{po.materialText},
      </if>
      <if test="po.materialType != null" >
        material_type = #{po.materialType},
      </if>
      <if test="po.unit != null" >
        unit = #{po.unit},
      </if>
      <if test="po.subStoreId != null" >
        sub_store_id = #{po.subStoreId},
      </if>
      <if test="po.storeMax != null" >
        store_max = #{po.storeMax},
      </if>
      <if test="po.storeMin != null" >
        store_min = #{po.storeMin},
      </if>
      <if test="po.boxCount != null" >
        box_count = #{po.boxCount},
      </if>
      <if test="po.count != null" >
        count = #{po.count},
      </if>
      <if test="po.price != null" >
        price = #{po.price},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>
</mapper>