<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coracle.dms.dao.mybatis.DmsUserAddressMapper" >
  <resultMap id="DmsUserAddressResultMap" type="com.coracle.dms.po.DmsUserAddress" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="recipient_name" property="recipientName" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="shipping_address" property="shippingAddress" jdbcType="VARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="last_updated_date" property="lastUpdatedDate" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="BIGINT" />
    <result column="remove_flag" property="removeFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="DmsUserAddress_Column_List" >
    id, user_id, recipient_name, province, city, county, shipping_address, is_default, 
    mobile, created_date, created_by, last_updated_date, last_updated_by, remove_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="DmsUserAddressResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="DmsUserAddress_Column_List" />
    from dms_user_address
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dms_user_address
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.coracle.dms.po.DmsUserAddress" useGeneratedKeys="true" keyProperty="id" >
    insert into dms_user_address (user_id, recipient_name, province, city, county, shipping_address, 
      is_default, mobile, created_date, created_by, last_updated_date, last_updated_by, 
      remove_flag)
    values (#{userId}, #{recipientName}, #{province}, #{city}, #{county}, #{shippingAddress}, 
      #{isDefault}, #{mobile}, #{createdDate}, #{createdBy}, #{lastUpdatedDate}, #{lastUpdatedBy}, 
      #{removeFlag})
  </insert>
  <insert id="insertSelective" parameterType="com.coracle.dms.po.DmsUserAddress" >
    insert into dms_user_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="recipientName != null" >
        recipient_name,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="shippingAddress != null" >
        shipping_address,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="removeFlag != null" >
        remove_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="recipientName != null" >
        #{recipientName},
      </if>
      <if test="province != null" >
        #{province},
      </if>
      <if test="city != null" >
        #{city},
      </if>
      <if test="county != null" >
        #{county},
      </if>
      <if test="shippingAddress != null" >
        #{shippingAddress},
      </if>
      <if test="isDefault != null" >
        #{isDefault},
      </if>
      <if test="mobile != null" >
        #{mobile},
      </if>
      <if test="createdDate != null" >
        #{createdDate},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="lastUpdatedDate != null" >
        #{lastUpdatedDate},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy},
      </if>
      <if test="removeFlag != null" >
        #{removeFlag},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coracle.dms.po.DmsUserAddress" >
    update dms_user_address
    <set >
      <if test="userId != null" >
        user_id = #{userId},
      </if>
      <if test="recipientName != null" >
        recipient_name = #{recipientName},
      </if>
      <if test="province != null" >
        province = #{province},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="county != null" >
        county = #{county},
      </if>
      <if test="shippingAddress != null" >
        shipping_address = #{shippingAddress},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy},
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date = #{lastUpdatedDate},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy},
      </if>
      <if test="removeFlag != null" >
        remove_flag = #{removeFlag},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coracle.dms.po.DmsUserAddress" >
    update dms_user_address
    set user_id = #{userId},
      recipient_name = #{recipientName},
      province = #{province},
      city = #{city},
      county = #{county},
      shipping_address = #{shippingAddress},
      is_default = #{isDefault},
      mobile = #{mobile},
      created_date = #{createdDate},
      created_by = #{createdBy},
      last_updated_date = #{lastUpdatedDate},
      last_updated_by = #{lastUpdatedBy},
      remove_flag = #{removeFlag}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      <if test="userId != null" >
        user_id = #{userId}
      </if>
      <if test="recipientName != null and recipientName != ''" >
        AND recipient_name = #{recipientName}
      </if>
      <if test="province != null and province != ''" >
        AND province = #{province}
      </if>
      <if test="city != null and city != ''" >
        AND city = #{city}
      </if>
      <if test="county != null and county != ''" >
        AND county = #{county}
      </if>
      <if test="shippingAddress != null and shippingAddress != ''" >
        AND shipping_address = #{shippingAddress}
      </if>
      <if test="isDefault != null" >
        AND is_default = #{isDefault}
      </if>
      <if test="mobile != null and mobile != ''" >
        AND mobile = #{mobile}
      </if>
      <if test="createdDate != null" >
        AND created_date = #{createdDate}
      </if>
      <if test="createdBy != null" >
        AND created_by = #{createdBy}
      </if>
      <if test="lastUpdatedDate != null" >
        AND last_updated_date = #{lastUpdatedDate}
      </if>
      <if test="lastUpdatedBy != null" >
        AND last_updated_by = #{lastUpdatedBy}
      </if>
      <if test="removeFlag != null" >
        AND remove_flag = #{removeFlag}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.coracle.dms.po.DmsUserAddress" resultMap="DmsUserAddressResultMap" >
    select 
    <include refid="DmsUserAddress_Column_List" />
    from dms_user_address
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
         ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update dms_user_address
    <set >
      <if test="po.userId != null" >
        user_id = #{po.userId},
      </if>
      <if test="po.recipientName != null" >
        recipient_name = #{po.recipientName},
      </if>
      <if test="po.province != null" >
        province = #{po.province},
      </if>
      <if test="po.city != null" >
        city = #{po.city},
      </if>
      <if test="po.county != null" >
        county = #{po.county},
      </if>
      <if test="po.shippingAddress != null" >
        shipping_address = #{po.shippingAddress},
      </if>
      <if test="po.isDefault != null" >
        is_default = #{po.isDefault},
      </if>
      <if test="po.mobile != null" >
        mobile = #{po.mobile},
      </if>
      <if test="po.createdDate != null" >
        created_date = #{po.createdDate},
      </if>
      <if test="po.createdBy != null" >
        created_by = #{po.createdBy},
      </if>
      <if test="po.lastUpdatedDate != null" >
        last_updated_date = #{po.lastUpdatedDate},
      </if>
      <if test="po.lastUpdatedBy != null" >
        last_updated_by = #{po.lastUpdatedBy},
      </if>
      <if test="po.removeFlag != null" >
        remove_flag = #{po.removeFlag},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>

  <!--****************************************************-->
  <select id="getAddressCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count(1) from dms_user_address where remove_flag=0 and user_id = #{id}
  </select>

    <!--<select id="findAddressIds" resultType="java.util.Map">
        select GROUP_CONCAT(id) as addressIds from dms_user_address
        where remove_flag=0 and user_id = #{id}
    </select>-->
</mapper>