<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coracle.dms.dao.mybatis.DmsUserValueAddedTaxInvoiceMapper" >
  <resultMap id="DmsUserValueAddedTaxInvoiceResultMap" type="com.coracle.dms.po.DmsUserValueAddedTaxInvoice" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="taxpayer_code" property="taxpayerCode" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="BIGINT" />
    <result column="city" property="city" jdbcType="BIGINT" />
    <result column="county" property="county" jdbcType="BIGINT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
    <result column="power_of_attorney" property="powerOfAttorney" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="approve_user_id" property="approveUserId" jdbcType="BIGINT" />
    <result column="approve_date" property="approveDate" jdbcType="TIMESTAMP" />
    <result column="reject_date" property="rejectDate" jdbcType="TIMESTAMP" />
    <result column="audit_opinion" property="auditOpinion" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="last_updated_date" property="lastUpdatedDate" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="BIGINT" />
    <result column="remove_flag" property="removeFlag" jdbcType="INTEGER" />
    <result column="expand1" property="expand1" jdbcType="VARCHAR" />
    <result column="expand2" property="expand2" jdbcType="VARCHAR" />
    <result column="expand3" property="expand3" jdbcType="VARCHAR" />
    <result column="expand4" property="expand4" jdbcType="VARCHAR" />
    <result column="expand5" property="expand5" jdbcType="VARCHAR" />
    <result column="expand6" property="expand6" jdbcType="VARCHAR" />
    <result column="expand7" property="expand7" jdbcType="VARCHAR" />
    <result column="expand8" property="expand8" jdbcType="VARCHAR" />
    <result column="expand9" property="expand9" jdbcType="VARCHAR" />
    <result column="expand10" property="expand10" jdbcType="VARCHAR" />
    <result column="expand11" property="expand11" jdbcType="VARCHAR" />
    <result column="expand12" property="expand12" jdbcType="VARCHAR" />
    <result column="expand13" property="expand13" jdbcType="VARCHAR" />
    <result column="expand14" property="expand14" jdbcType="VARCHAR" />
    <result column="expand15" property="expand15" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="DmsUserValueAddedTaxInvoice_Column_List" >
    id, user_id, company_name, taxpayer_code, address, province, city, county, phone,
    bank_name, bank_account, power_of_attorney, status, approve_user_id, approve_date,
    reject_date, audit_opinion, remark, created_date, created_by, last_updated_date,
    last_updated_by, remove_flag, expand1, expand2, expand3, expand4, expand5, expand6,
    expand7, expand8, expand9, expand10, expand11, expand12, expand13, expand14, expand15
  </sql>
  <select id="selectByPrimaryKey" resultMap="DmsUserValueAddedTaxInvoiceResultMap" parameterType="java.lang.Long" >
    select
    <include refid="DmsUserValueAddedTaxInvoice_Column_List" />
    from dms_user_value_added_tax_invoice
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dms_user_value_added_tax_invoice
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.coracle.dms.po.DmsUserValueAddedTaxInvoice" useGeneratedKeys="true" keyProperty="id" >
    insert into dms_user_value_added_tax_invoice (user_id, company_name, taxpayer_code, address, province, city,
    county, phone, bank_name, bank_account, power_of_attorney, status,
    approve_user_id, approve_date, reject_date, audit_opinion, remark, created_date,
    created_by, last_updated_date, last_updated_by, remove_flag, expand1,
    expand2, expand3, expand4, expand5, expand6, expand7, expand8,
    expand9, expand10, expand11, expand12, expand13, expand14, expand15
    )
    values (#{userId}, #{companyName}, #{taxpayerCode}, #{address}, #{province}, #{city},
    #{county}, #{phone}, #{bankName}, #{bankAccount}, #{powerOfAttorney}, #{status},
    #{approveUserId}, #{approveDate}, #{rejectDate}, #{auditOpinion}, #{remark}, #{createdDate},
    #{createdBy}, #{lastUpdatedDate}, #{lastUpdatedBy}, #{removeFlag}, #{expand1},
    #{expand2}, #{expand3}, #{expand4}, #{expand5}, #{expand6}, #{expand7}, #{expand8},
    #{expand9}, #{expand10}, #{expand11}, #{expand12}, #{expand13}, #{expand14}, #{expand15}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.coracle.dms.po.DmsUserValueAddedTaxInvoice" >
    insert into dms_user_value_added_tax_invoice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="taxpayerCode != null" >
        taxpayer_code,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankAccount != null" >
        bank_account,
      </if>
      <if test="powerOfAttorney != null" >
        power_of_attorney,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="approveUserId != null" >
        approve_user_id,
      </if>
      <if test="approveDate != null" >
        approve_date,
      </if>
      <if test="rejectDate != null" >
        reject_date,
      </if>
      <if test="auditOpinion != null" >
        audit_opinion,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="removeFlag != null" >
        remove_flag,
      </if>
      <if test="expand1 != null" >
        expand1,
      </if>
      <if test="expand2 != null" >
        expand2,
      </if>
      <if test="expand3 != null" >
        expand3,
      </if>
      <if test="expand4 != null" >
        expand4,
      </if>
      <if test="expand5 != null" >
        expand5,
      </if>
      <if test="expand6 != null" >
        expand6,
      </if>
      <if test="expand7 != null" >
        expand7,
      </if>
      <if test="expand8 != null" >
        expand8,
      </if>
      <if test="expand9 != null" >
        expand9,
      </if>
      <if test="expand10 != null" >
        expand10,
      </if>
      <if test="expand11 != null" >
        expand11,
      </if>
      <if test="expand12 != null" >
        expand12,
      </if>
      <if test="expand13 != null" >
        expand13,
      </if>
      <if test="expand14 != null" >
        expand14,
      </if>
      <if test="expand15 != null" >
        expand15,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="companyName != null" >
        #{companyName},
      </if>
      <if test="taxpayerCode != null" >
        #{taxpayerCode},
      </if>
      <if test="address != null" >
        #{address},
      </if>
      <if test="province != null" >
        #{province},
      </if>
      <if test="city != null" >
        #{city},
      </if>
      <if test="county != null" >
        #{county},
      </if>
      <if test="phone != null" >
        #{phone},
      </if>
      <if test="bankName != null" >
        #{bankName},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount},
      </if>
      <if test="powerOfAttorney != null" >
        #{powerOfAttorney},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="approveUserId != null" >
        #{approveUserId},
      </if>
      <if test="approveDate != null" >
        #{approveDate},
      </if>
      <if test="rejectDate != null" >
        #{rejectDate},
      </if>
      <if test="auditOpinion != null" >
        #{auditOpinion},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
      <if test="createdDate != null" >
        #{createdDate},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="lastUpdatedDate != null" >
        #{lastUpdatedDate},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy},
      </if>
      <if test="removeFlag != null" >
        #{removeFlag},
      </if>
      <if test="expand1 != null" >
        #{expand1},
      </if>
      <if test="expand2 != null" >
        #{expand2},
      </if>
      <if test="expand3 != null" >
        #{expand3},
      </if>
      <if test="expand4 != null" >
        #{expand4},
      </if>
      <if test="expand5 != null" >
        #{expand5},
      </if>
      <if test="expand6 != null" >
        #{expand6},
      </if>
      <if test="expand7 != null" >
        #{expand7},
      </if>
      <if test="expand8 != null" >
        #{expand8},
      </if>
      <if test="expand9 != null" >
        #{expand9},
      </if>
      <if test="expand10 != null" >
        #{expand10},
      </if>
      <if test="expand11 != null" >
        #{expand11},
      </if>
      <if test="expand12 != null" >
        #{expand12},
      </if>
      <if test="expand13 != null" >
        #{expand13},
      </if>
      <if test="expand14 != null" >
        #{expand14},
      </if>
      <if test="expand15 != null" >
        #{expand15},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coracle.dms.po.DmsUserValueAddedTaxInvoice" >
    update dms_user_value_added_tax_invoice
    <set >
      <if test="userId != null" >
        user_id = #{userId},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName},
      </if>
      <if test="taxpayerCode != null" >
        taxpayer_code = #{taxpayerCode},
      </if>
      <if test="address != null" >
        address = #{address},
      </if>
      <if test="province != null" >
        province = #{province},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="county != null" >
        county = #{county},
      </if>
      <if test="phone != null" >
        phone = #{phone},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName},
      </if>
      <if test="bankAccount != null" >
        bank_account = #{bankAccount},
      </if>
      <if test="powerOfAttorney != null" >
        power_of_attorney = #{powerOfAttorney},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="approveUserId != null" >
        approve_user_id = #{approveUserId},
      </if>
      <if test="approveDate != null" >
        approve_date = #{approveDate},
      </if>
      <if test="rejectDate != null" >
        reject_date = #{rejectDate},
      </if>
      <if test="auditOpinion != null" >
        audit_opinion = #{auditOpinion},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy},
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date = #{lastUpdatedDate},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy},
      </if>
      <if test="removeFlag != null" >
        remove_flag = #{removeFlag},
      </if>
      <if test="expand1 != null" >
        expand1 = #{expand1},
      </if>
      <if test="expand2 != null" >
        expand2 = #{expand2},
      </if>
      <if test="expand3 != null" >
        expand3 = #{expand3},
      </if>
      <if test="expand4 != null" >
        expand4 = #{expand4},
      </if>
      <if test="expand5 != null" >
        expand5 = #{expand5},
      </if>
      <if test="expand6 != null" >
        expand6 = #{expand6},
      </if>
      <if test="expand7 != null" >
        expand7 = #{expand7},
      </if>
      <if test="expand8 != null" >
        expand8 = #{expand8},
      </if>
      <if test="expand9 != null" >
        expand9 = #{expand9},
      </if>
      <if test="expand10 != null" >
        expand10 = #{expand10},
      </if>
      <if test="expand11 != null" >
        expand11 = #{expand11},
      </if>
      <if test="expand12 != null" >
        expand12 = #{expand12},
      </if>
      <if test="expand13 != null" >
        expand13 = #{expand13},
      </if>
      <if test="expand14 != null" >
        expand14 = #{expand14},
      </if>
      <if test="expand15 != null" >
        expand15 = #{expand15},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coracle.dms.po.DmsUserValueAddedTaxInvoice" >
    update dms_user_value_added_tax_invoice
    set user_id = #{userId},
    company_name = #{companyName},
    taxpayer_code = #{taxpayerCode},
    address = #{address},
    province = #{province},
    city = #{city},
    county = #{county},
    phone = #{phone},
    bank_name = #{bankName},
    bank_account = #{bankAccount},
    power_of_attorney = #{powerOfAttorney},
    status = #{status},
    approve_user_id = #{approveUserId},
    approve_date = #{approveDate},
    reject_date = #{rejectDate},
    audit_opinion = #{auditOpinion},
    remark = #{remark},
    created_date = #{createdDate},
    created_by = #{createdBy},
    last_updated_date = #{lastUpdatedDate},
    last_updated_by = #{lastUpdatedBy},
    remove_flag = #{removeFlag},
    expand1 = #{expand1},
    expand2 = #{expand2},
    expand3 = #{expand3},
    expand4 = #{expand4},
    expand5 = #{expand5},
    expand6 = #{expand6},
    expand7 = #{expand7},
    expand8 = #{expand8},
    expand9 = #{expand9},
    expand10 = #{expand10},
    expand11 = #{expand11},
    expand12 = #{expand12},
    expand13 = #{expand13},
    expand14 = #{expand14},
    expand15 = #{expand15}
    where id = #{id}
  </update>
  <sql id="Where_Condition" >
    <where >
      <if test="userId != null" >
        user_id = #{userId}
      </if>
      <if test="companyName != null and companyName != ''" >
        AND company_name = #{companyName}
      </if>
      <if test="taxpayerCode != null and taxpayerCode != ''" >
        AND taxpayer_code = #{taxpayerCode}
      </if>
      <if test="address != null and address != ''" >
        AND address = #{address}
      </if>
      <if test="province != null" >
        AND province = #{province}
      </if>
      <if test="city != null" >
        AND city = #{city}
      </if>
      <if test="county != null" >
        AND county = #{county}
      </if>
      <if test="phone != null and phone != ''" >
        AND phone = #{phone}
      </if>
      <if test="bankName != null and bankName != ''" >
        AND bank_name = #{bankName}
      </if>
      <if test="bankAccount != null and bankAccount != ''" >
        AND bank_account = #{bankAccount}
      </if>
      <if test="powerOfAttorney != null" >
        AND power_of_attorney = #{powerOfAttorney}
      </if>
      <if test="status != null" >
        AND status = #{status}
      </if>
      <if test="approveUserId != null" >
        AND approve_user_id = #{approveUserId}
      </if>
      <if test="approveDate != null" >
        AND approve_date = #{approveDate}
      </if>
      <if test="rejectDate != null" >
        AND reject_date = #{rejectDate}
      </if>
      <if test="auditOpinion != null and auditOpinion != ''" >
        AND audit_opinion = #{auditOpinion}
      </if>
      <if test="remark != null and remark != ''" >
        AND remark = #{remark}
      </if>
      <if test="createdDate != null" >
        AND created_date = #{createdDate}
      </if>
      <if test="createdBy != null" >
        AND created_by = #{createdBy}
      </if>
      <if test="lastUpdatedDate != null" >
        AND last_updated_date = #{lastUpdatedDate}
      </if>
      <if test="lastUpdatedBy != null" >
        AND last_updated_by = #{lastUpdatedBy}
      </if>
      <if test="removeFlag != null" >
        AND remove_flag = #{removeFlag}
      </if>
      <if test="expand1 != null and expand1 != ''" >
        AND expand1 = #{expand1}
      </if>
      <if test="expand2 != null and expand2 != ''" >
        AND expand2 = #{expand2}
      </if>
      <if test="expand3 != null and expand3 != ''" >
        AND expand3 = #{expand3}
      </if>
      <if test="expand4 != null and expand4 != ''" >
        AND expand4 = #{expand4}
      </if>
      <if test="expand5 != null and expand5 != ''" >
        AND expand5 = #{expand5}
      </if>
      <if test="expand6 != null and expand6 != ''" >
        AND expand6 = #{expand6}
      </if>
      <if test="expand7 != null and expand7 != ''" >
        AND expand7 = #{expand7}
      </if>
      <if test="expand8 != null and expand8 != ''" >
        AND expand8 = #{expand8}
      </if>
      <if test="expand9 != null and expand9 != ''" >
        AND expand9 = #{expand9}
      </if>
      <if test="expand10 != null and expand10 != ''" >
        AND expand10 = #{expand10}
      </if>
      <if test="expand11 != null and expand11 != ''" >
        AND expand11 = #{expand11}
      </if>
      <if test="expand12 != null and expand12 != ''" >
        AND expand12 = #{expand12}
      </if>
      <if test="expand13 != null and expand13 != ''" >
        AND expand13 = #{expand13}
      </if>
      <if test="expand14 != null and expand14 != ''" >
        AND expand14 = #{expand14}
      </if>
      <if test="expand15 != null and expand15 != ''" >
        AND expand15 = #{expand15}
      </if>
    </where>
  </sql>
  <select id="selectByCondition" parameterType="com.coracle.dms.po.DmsUserValueAddedTaxInvoice" resultMap="DmsUserValueAddedTaxInvoiceResultMap" >
    select
    <include refid="DmsUserValueAddedTaxInvoice_Column_List" />
    from dms_user_value_added_tax_invoice
    <include refid="Where_Condition" />
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
        ${orderString}
      </if>
    </if>
  </select>
  <update id="updateByIdsSelective" >
    update dms_user_value_added_tax_invoice
    <set >
      <if test="po.userId != null" >
        user_id = #{po.userId},
      </if>
      <if test="po.companyName != null" >
        company_name = #{po.companyName},
      </if>
      <if test="po.taxpayerCode != null" >
        taxpayer_code = #{po.taxpayerCode},
      </if>
      <if test="po.address != null" >
        address = #{po.address},
      </if>
      <if test="po.province != null" >
        province = #{po.province},
      </if>
      <if test="po.city != null" >
        city = #{po.city},
      </if>
      <if test="po.county != null" >
        county = #{po.county},
      </if>
      <if test="po.phone != null" >
        phone = #{po.phone},
      </if>
      <if test="po.bankName != null" >
        bank_name = #{po.bankName},
      </if>
      <if test="po.bankAccount != null" >
        bank_account = #{po.bankAccount},
      </if>
      <if test="po.powerOfAttorney != null" >
        power_of_attorney = #{po.powerOfAttorney},
      </if>
      <if test="po.status != null" >
        status = #{po.status},
      </if>
      <if test="po.approveUserId != null" >
        approve_user_id = #{po.approveUserId},
      </if>
      <if test="po.approveDate != null" >
        approve_date = #{po.approveDate},
      </if>
      <if test="po.rejectDate != null" >
        reject_date = #{po.rejectDate},
      </if>
      <if test="po.auditOpinion != null" >
        audit_opinion = #{po.auditOpinion},
      </if>
      <if test="po.remark != null" >
        remark = #{po.remark},
      </if>
      <if test="po.createdDate != null" >
        created_date = #{po.createdDate},
      </if>
      <if test="po.createdBy != null" >
        created_by = #{po.createdBy},
      </if>
      <if test="po.lastUpdatedDate != null" >
        last_updated_date = #{po.lastUpdatedDate},
      </if>
      <if test="po.lastUpdatedBy != null" >
        last_updated_by = #{po.lastUpdatedBy},
      </if>
      <if test="po.removeFlag != null" >
        remove_flag = #{po.removeFlag},
      </if>
      <if test="po.expand1 != null" >
        expand1 = #{po.expand1},
      </if>
      <if test="po.expand2 != null" >
        expand2 = #{po.expand2},
      </if>
      <if test="po.expand3 != null" >
        expand3 = #{po.expand3},
      </if>
      <if test="po.expand4 != null" >
        expand4 = #{po.expand4},
      </if>
      <if test="po.expand5 != null" >
        expand5 = #{po.expand5},
      </if>
      <if test="po.expand6 != null" >
        expand6 = #{po.expand6},
      </if>
      <if test="po.expand7 != null" >
        expand7 = #{po.expand7},
      </if>
      <if test="po.expand8 != null" >
        expand8 = #{po.expand8},
      </if>
      <if test="po.expand9 != null" >
        expand9 = #{po.expand9},
      </if>
      <if test="po.expand10 != null" >
        expand10 = #{po.expand10},
      </if>
      <if test="po.expand11 != null" >
        expand11 = #{po.expand11},
      </if>
      <if test="po.expand12 != null" >
        expand12 = #{po.expand12},
      </if>
      <if test="po.expand13 != null" >
        expand13 = #{po.expand13},
      </if>
      <if test="po.expand14 != null" >
        expand14 = #{po.expand14},
      </if>
      <if test="po.expand15 != null" >
        expand15 = #{po.expand15},
      </if>
    </set>
    where 1=2
    <if test="ids != null and ids.size > 0" >
      <foreach collection="ids" item="listItem" open="or id in(" close=")" separator="," >
        #{listItem}
      </foreach>
    </if>
  </update>

  <!--***************************************************-->
  <resultMap id="DmsUserValueAddedTaxInvoiceVoResultMap" type="com.coracle.dms.vo.DmsUserValueAddedTaxInvoiceVo" extends="DmsUserValueAddedTaxInvoiceResultMap" >
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="file_compress_path" property="fileCompressPath" jdbcType="VARCHAR" />
    <result column="file_preview_path" property="filePreviewPath" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="province_text" property="provinceText" jdbcType="VARCHAR" />
    <result column="city_text" property="cityText" jdbcType="VARCHAR" />
    <result column="county_text" property="countyText" jdbcType="VARCHAR" />
    <result column="created_by_text" property="createdByText" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getPageList" parameterType="com.coracle.dms.vo.DmsUserValueAddedTaxInvoiceVo" resultMap="DmsUserValueAddedTaxInvoiceVoResultMap">
     SELECT
		ui.*, 
		(select dsr.region_name from dms_sys_region dsr where dsr.region_id=ui.province) as province_text,
	    (select dsr.region_name from dms_sys_region dsr where dsr.region_id=ui.city) as city_text,
	    (select dsr.region_name from dms_sys_region dsr where dsr.region_id=ui.county) as county_text,
	     de.`name` as created_by_text
	    FROM
		dms_user_value_added_tax_invoice ui left join dms_user du on ui.created_by=du.id left join  dms_employee de on de.user_id=du.id
    where 1=1 and ui.remove_flag = 0
     <if test="userId != null" >
        and ui.user_id = #{userId}
      </if>
      <if test="companyName != null and companyName != ''" >
        and ui.company_name like CONCAT('%', #{companyName},'%')
      </if>
       <if test="status != null" >
        AND ui.status = #{status}
      </if>
      <if test="createdByText != null and createdByText != ''" >
        and de.`name` like CONCAT('%', #{createdByText},'%')
      </if>
      <if test="createTimeStart != null and createTimeStart !=''">
          <![CDATA[ AND ui.created_date >= #{createTimeStart} ]]>
      </if>
      <if test="createTimeEnd != null and createTimeEnd !=''">
          <![CDATA[ AND ui.created_date <= #{createTimeEnd} ]]>
      </if>
      order by ui.created_date desc
  </select>
  
  <!--失效当前用户的发票信息-->
  <update id="failureOldDmsUserValueAddedTaxInvoice" parameterType="com.coracle.dms.po.DmsUserValueAddedTaxInvoice">
    UPDATE  dms_user_value_added_tax_invoice set remove_flag=1 WHERE  1=2 or user_id=#{userId}
  </update>
  <!--按主键id获取详细信息-->
  <select id="selectVoByPrimaryKey" parameterType="java.lang.Long" resultMap="DmsUserValueAddedTaxInvoiceVoResultMap">
    SELECT
	ui.*,cf.file_name,cf.file_path,cf.file_compress_path,cf.file_preview_path,cf.size,
	(select dsr.region_name from dms_sys_region dsr where dsr.region_id=ui.province) as province_text,
    (select dsr.region_name from dms_sys_region dsr where dsr.region_id=ui.city) as city_text,
    (select dsr.region_name from dms_sys_region dsr where dsr.region_id=ui.county) as county_text
    FROM
	dms_user_value_added_tax_invoice ui left join dms_common_attach_file cf on ui.power_of_attorney=cf.id
    where ui.id = #{id}
  </select>
  <!--按用户id获取详细信息-->
  <select id="selectVoByUserId" parameterType="java.lang.Long" resultMap="DmsUserValueAddedTaxInvoiceVoResultMap">
    SELECT
	ui.*,cf.file_name,cf.file_path,cf.file_compress_path,cf.file_preview_path,cf.size,
	(select dsr.region_name from dms_sys_region dsr where dsr.region_id=ui.province) as province_text,
    (select dsr.region_name from dms_sys_region dsr where dsr.region_id=ui.city) as city_text,
    (select dsr.region_name from dms_sys_region dsr where dsr.region_id=ui.county) as county_text
    FROM
	dms_user_value_added_tax_invoice ui left join dms_common_attach_file cf on ui.power_of_attorney=cf.id
    where ui.remove_flag=0 and ui.user_id = #{id}
  </select>

  <select id="selectVoByCondition" parameterType="com.coracle.dms.po.DmsUserValueAddedTaxInvoice" resultMap="DmsUserValueAddedTaxInvoiceVoResultMap" >
    select
    ui.*,cf.file_name,cf.file_path,cf.file_compress_path,cf.file_preview_path,cf.size
    from dms_user_value_added_tax_invoice ui left join dms_common_attach_file cf on ui.power_of_attorney=cf.id
    where ui.remove_flag = 0
    <if test="userId != null" >
      and ui.user_id = #{userId}
    </if>
    <if test="companyName != null and companyName != ''" >
      AND ui.company_name = #{companyName}
    </if>
    <if test="taxpayerCode != null and taxpayerCode != ''" >
      AND ui.taxpayer_code = #{taxpayerCode}
    </if>
    <if test="address != null and address != ''" >
      AND ui.address = #{address}
    </if>
    <if test="province != null" >
      AND province = #{province}
    </if>
    <if test="city != null" >
      AND city = #{city}
    </if>
    <if test="county != null" >
      AND county = #{county}
    </if>
    <if test="phone != null and phone != ''" >
      AND ui.phone = #{phone}
    </if>
    <if test="bankName != null and bankName != ''" >
      AND ui.bank_name = #{bankName}
    </if>
    <if test="bankAccount != null and bankAccount != ''" >
      AND ui.bank_account = #{bankAccount}
    </if>
    <if test="powerOfAttorney != null" >
      AND ui.power_of_attorney = #{powerOfAttorney}
    </if>
    <if test="status != null" >
      AND ui.status = #{status}
    </if>
    <if test="approveUserId != null" >
      AND approve_user_id = #{approveUserId}
    </if>
    <if test="approveDate != null" >
      AND ui.approve_date = #{approveDate}
    </if>
    <if test="rejectDate != null" >
      AND ui.reject_date = #{rejectDate}
    </if>
    <if test="createdDate != null" >
      AND ui.created_date = #{createdDate}
    </if>
    <if test="createdBy != null" >
      AND ui.created_by = #{createdBy}
    </if>
    <if test="lastUpdatedDate != null" >
      AND ui.last_updated_date = #{lastUpdatedDate}
    </if>
    <if test="lastUpdatedBy != null" >
      AND ui.last_updated_by = #{lastUpdatedBy}
    </if>
    <if test="orderField != null and orderField != ''" >
      ORDER BY ${orderField}
      <if test="orderString != null and orderString != ''" >
        ${orderString}
      </if>
    </if>
  </select>
</mapper>