<?xml version="1.0" encoding="UTF-8" ?>     
<!DOCTYPE configuration     
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"     
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config/mybatis/mybatis.properties" />
	<typeAliases>
	    <package name="com.coracle.dms.po"/>
	</typeAliases>
	<plugins>  
        <plugin interceptor="com.coracle.yk.xdatabase.base.mybatis.util.PageHelper"></plugin>  
    </plugins>
</configuration> 